/*================================================*/
/*					  MAIN	App Promo		      */
/*================================================*/
.app_promo .topbar__block {
  margin-bottom: 30px;
}
.app-promo-main {
  background-color: #fff;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  padding: 62px 0 170px 0;
}
.app-promo-main .app-promo-box {
  padding: 0 100px 0 170px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  min-height: 425px;
}
.app-promo-main .app-promo-box .app-promo-left {
  padding: 98px 0 0 0;
  z-index: 20;
}
.app-promo-main .app-promo-box .ap-links-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}
.app-promo-main .app-promo-box .ap-links-box .ap-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #486e7c;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 30px;
  min-width: 30px;
  height: 30px;
  margin-right: 15px;
}
.app-promo-main .app-promo-box .ap-links-box .ap-logo img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin-top: 1px;
}
.app-promo-main .app-promo-box .ap-links-box .ap-logo:hover {
  background-color: #8a9da4;
}
.app-promo-main .app-promo-box .ap-links-box .ap-link {
  font-size: 11px;
  letter-spacing: 0.6px;
  text-align: left;
  color: #486e7c;
  text-transform: uppercase;
}
.app-promo-main .app-promo-box .ap-links-box .ap-link:hover {
  color: #4186b0;
}
.app-promo-main .app-promo-box .ap-title {
  font-family: HelveticaNeueCyr;
  font-size: 18px;
  line-height: 2.11;
  letter-spacing: 1.4px;
  text-align: left;
  color: #43474d;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.app-promo-main .app-promo-box .ap-title span {
  font-size: 32px;
  line-height: 1.19;
  letter-spacing: 2.4px;
}
.app-promo-main .app-promo-box .ap-list {
  font-family: HelveticaNeueCyr;
  font-size: 14px;
  letter-spacing: 1.1px;
  text-align: left;
  color: #43474d;
  margin-bottom: 35px;
}
.app-promo-main .app-promo-box .ap-list li {
  background: url('../img/icons/icon-check-green.svg') no-repeat 0 3px;
  padding-left: 20px;
  margin-bottom: 2px;
}
.app-promo-main .app-promo-box .ap-social img {
  margin-right: 15px;
}
.app-promo-main .app-promo-box .app-promo-right {
  position: absolute;
  bottom: 0px;
  right: 60px;
  z-index: 10;
}
.app-promo-main .app-promo-box .app-promo-right img {
  width: 100%;
  height: auto;
  display: block;
}
.app-promo-main .app-promo-scores {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#b43263), to(#486e7c));
  background-image: linear-gradient(to top, #b43263, #486e7c);
  padding: 100px 238px 0 68px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: 566px;
  position: relative;
  overflow: hidden;
}
.app-promo-main .app-promo-scores .scores-left {
  position: absolute;
  bottom: 0px;
  left: 27px;
  z-index: 10;
}
.app-promo-main .app-promo-scores .scores-left img {
  display: block;
}
.app-promo-main .app-promo-scores .scores-right {
  width: 370px;
  padding-top: 63px;
  z-index: 20;
}
.app-promo-main .app-promo-scores .scores-right .title {
  font-size: 32px;
  line-height: 1.19;
  letter-spacing: 2.4px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.app-promo-main .app-promo-scores .scores-right .text {
  font-family: HelveticaNeueCyr;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 1.1px;
  color: #cdd4dd;
}
.app-promo-main .app-promo-no-more {
  text-align: center;
  padding: 161px 0 0 0;
}
.app-promo-main .app-promo-no-more .title {
  font-family: HelveticaNeueCyr;
  font-size: 32px;
  line-height: 1.19;
  letter-spacing: 2.4px;
  text-align: center;
  color: #43474d;
  text-transform: uppercase;
  margin: 0 0 28px 0;
}
.app-promo-main .app-promo-no-more .text {
  font-family: HelveticaNeueCyr;
  font-size: 14px;
  letter-spacing: 1.1px;
  text-align: center;
  color: #43474d;
  margin: 0 0 80px 0;
}
.app-promo-main .app-promo-tablet {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#60a989), to(#486e7c));
  background-image: linear-gradient(to top, #60a989, #486e7c);
  padding: 169px 0 0 169px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 566px;
  position: relative;
  overflow: hidden;
  margin-top: -10px;
}
.app-promo-main .app-promo-tablet .tablet-left {
  width: 370px;
}
.app-promo-main .app-promo-tablet .tablet-left .title {
  font-size: 32px;
  line-height: 1.19;
  letter-spacing: 2.4px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 9px;
}
.app-promo-main .app-promo-tablet .tablet-left .text {
  font-family: HelveticaNeueCyr;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 1.1px;
  color: #cdd4dd;
}
.app-promo-main .app-promo-tablet .tablet-right {
  margin-top: -74px;
}
.app-promo-main .app-promo-tablet .tablet-right img {
  display: block;
}
.app-promo-main .app-promo-tablet .tablet-right img.mob {
  display: none;
}
.app-promo-main .app-promo-joing {
  text-align: center;
  padding: 160px 0 0 0;
}
.app-promo-main .app-promo-joing .title {
  font-family: HelveticaNeueCyr;
  font-size: 32px;
  font-weight: 300;
  line-height: 1.13;
  letter-spacing: 2.4px;
  text-align: center;
  color: #43474d;
  margin: 0 0 27px 0;
}
.app-promo-main .app-promo-joing .ap-social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.app-promo-main .app-promo-joing .ap-social img {
  margin: 0 6px;
}
/*================================================*/
/*						  MEDIA				      */
/*================================================*/
@media (max-width: 1200px) {
  .app-promo-main .app-promo-box {
    padding-left: 130px;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    /*.app-promo-right{
				position:static;
			}*/
  }
  .app-promo-main .app-promo-box .app-promo-left {
    min-width: 475px;
    padding: 0 0 115px 0;
  }
  .app-promo-main .app-promo-scores {
    min-height: auto;
    padding: 12px 50px 0;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .app-promo-main .app-promo-scores .scores-left {
    position: relative;
    margin: 0 20px 0 0;
  }
  .app-promo-main .app-promo-scores .scores-left img {
    width: 100%;
    height: auto;
  }
  .app-promo-main .app-promo-tablet {
    padding: 169px 0 0 100px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .app-promo-main .app-promo-tablet .tablet-right img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 930px) {
  .app_promo .nm-grow.nm-big-wrapper {
    padding: 0;
  }
  .app-promo-main .app-promo-box {
    padding: 0 0 0 100px;
    min-height: auto;
  }
  .app-promo-main .app-promo-box .app-promo-left {
    padding: 0 0 115px 0;
  }
  .app-promo-main .app-promo-box .app-promo-right {
    right: 0;
  }
  .app-promo-main .app-promo-box .app-promo-right img {
    /*width:100%;
					max-width:322px;*/
    width: 322px;
  }
  .app-promo-main .app-promo-scores {
    padding: 80px 100px 0 0;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .app-promo-main .app-promo-scores .scores-left {
    left: 0;
  }
  .app-promo-main .app-promo-scores .scores-left img {
    width: 100%;
    max-width: 315px;
  }
  .app-promo-main .app-promo-no-more {
    padding: 40px 35px 0;
  }
  .app-promo-main .app-promo-no-more .text {
    margin: 0 0 25px 0;
  }
  .app-promo-main .app-promo-no-more br {
    display: none;
  }
  .app-promo-main .app-promo-no-more img {
    width: 100%;
    height: auto;
  }
  .app-promo-main .app-promo-tablet {
    min-height: auto;
  }
  .app-promo-main .app-promo-tablet .tablet-right {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
  }
}
@media (max-width: 800px) {
  .app-promo-main .app-promo-scores {
    padding: 12px 20px 0 0;
  }
  .app-promo-main .app-promo-scores .scores-right {
    padding: 70px 0 50px 0;
  }
}
@media (max-width: 630px) {
  .app-promo-main {
    padding: 62px 0 95px;
  }
  .app-promo-main .app-promo-box {
    padding: 0 0 0 45px;
  }
  .app-promo-main .app-promo-box .app-promo-left {
    padding: 0 0 34px 0;
    min-width: auto;
  }
  .app-promo-main .app-promo-box .app-promo-right {
    position: absolute;
  }
  .app-promo-main .app-promo-box .app-promo-right img {
    max-width: 164px;
    width: 100%;
  }
  .app-promo-main .app-promo-scores {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .app-promo-main .app-promo-scores .scores-left {
    margin: 0;
  }
  .app-promo-main .app-promo-scores .scores-left img {
    max-width: 180px;
  }
  .app-promo-main .app-promo-tablet {
    padding: 105px 0 0 30px;
  }
  .app-promo-main .app-promo-tablet .tablet-left {
    padding: 0 0 100px;
  }
  .app-promo-main .app-promo-tablet .tablet-right img.dek {
    max-width: 165px;
  }
  .app-promo-main .app-promo-joing {
    padding: 85px 0 0 0;
  }
  .app-promo-main .app-promo-joing .title {
    padding: 0 60px;
  }
  .app-promo-main .app-promo-joing br {
    display: none;
  }
}
@media (max-width: 480px) {
  .app_promo .topbar__block {
    margin-bottom: 8px;
  }
  .app-promo-main {
    padding: 8px 0 100px 0;
  }
  .app-promo-main .app-promo-box {
    padding: 0 8px;
  }
  .app-promo-main .app-promo-box .app-promo-left .ap-title {
    font-family: HelveticaNeueCyr;
    font-size: 11px;
    line-height: normal;
    letter-spacing: 0.8px;
    margin-bottom: 100px;
  }
  .app-promo-main .app-promo-box .app-promo-left .ap-title span {
    font-size: 18px;
    line-height: normal;
    letter-spacing: 1.4px;
  }
  .app-promo-main .app-promo-box .app-promo-left .ap-list {
    font-size: 11px;
  }
  .app-promo-main .app-promo-box .app-promo-left .ap-list li {
    background-size: 9px 7px;
    padding: 0 0 0 15px;
  }
  .app-promo-main .app-promo-box .app-promo-left .ap-social {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .app-promo-main .app-promo-box .app-promo-left .ap-social img {
    max-width: 85%;
    height: auto;
  }
  .app-promo-main .app-promo-box .app-promo-right {
    right: -10px;
  }
  .app-promo-main .app-promo-box .app-promo-right img {
    max-width: 230px;
  }
  .app-promo-main .app-promo-scores {
    padding: 11px 35px 0 7px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .app-promo-main .app-promo-scores .scores-left {
    position: static;
    margin: 0 auto;
  }
  .app-promo-main .app-promo-scores .scores-left img {
    max-width: 180px;
  }
  .app-promo-main .app-promo-scores .scores-right {
    width: 100%;
    padding: 0;
  }
  .app-promo-main .app-promo-scores .scores-right .title {
    font-size: 18px;
    letter-spacing: 1.4px;
  }
  .app-promo-main .app-promo-scores .scores-right .text {
    font-size: 11px;
    letter-spacing: 0.8px;
  }
  .app-promo-main .app-promo-no-more {
    padding: 40px 27px 0;
  }
  .app-promo-main .app-promo-no-more .title {
    font-size: 18px;
    letter-spacing: 1.4px;
    margin: 0 0 14px 0;
  }
  .app-promo-main .app-promo-no-more .text {
    font-size: 11px;
    letter-spacing: 0.8px;
  }
  .app-promo-main .app-promo-tablet {
    padding: 24px 6px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .app-promo-main .app-promo-tablet .tablet-left {
    width: 100%;
    padding: 0;
  }
  .app-promo-main .app-promo-tablet .tablet-left .title {
    font-size: 18px;
    letter-spacing: 1.4px;
  }
  .app-promo-main .app-promo-tablet .tablet-left .text {
    font-size: 11px;
    letter-spacing: 0.8px;
  }
  .app-promo-main .app-promo-tablet .tablet-right {
    margin-top: 0;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
                -ms-grid-row-align: center;
            align-self: center;
  }
  .app-promo-main .app-promo-tablet .tablet-right img.dek {
    display: none;
  }
  .app-promo-main .app-promo-tablet .tablet-right img.mob {
    display: block;
  }
  .app-promo-main .app-promo-joing .title {
    font-size: 14px;
    letter-spacing: 1.1px;
  }
  .app-promo-main .app-promo-joing .ap-social img {
    max-width: 100%;
    height: 28px;
    margin: 0;
    padding: 0 8px;
  }
}
