/*================================================*/
/*		             Article page                 */
/*================================================*/
#block-styles {
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 4px;
          border-radius: 4px;
}
.instagram-media.instagram-media-rendered {
  max-width: 100%!important;
  width: 100%!important;
}
.article-page .above-content-block-homepage {
  margin-bottom: 0;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-right: 0;
  overflow: hidden;
}
.article-page .above-content-block-homepage .main-news {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 0;
}
.article-page .above-content-block-homepage .main-news__banner {
  width: 100%;
}
.article-page .above-content-block-homepage .main-news__content {
  width: 825px;
}
.article-page .nm-big-wrapper {
  overflow: hidden;
}
.article-page .main-big-wrapper {
  width: -webkit-calc(100% - 270px);
  width: calc(100% - 270px);
  padding-right: 30px;
  overflow: hidden;
}
.article-page .main-wrapper {
  overflow: visible;
}
.article-page .main-wrapper__block {
  position: relative;
}
.article-page .thread {
  padding: 110px 143px 83px 143px;
}
.article-page .thread__parent {
  margin-top: 34px;
}
.article-page .thread__wrap {
  padding: 0 30px;
}
.article-page .thread__button {
  text-align: right;
  font-size: 14px;
  color: #486e7c;
}
.article-page .thread__button:hover {
  cursor: pointer;
  color: #4186b1;
}
.article-page .thread__user {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.article-page .thread__user_icon {
  width: 45px;
  height: 45px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  overflow: hidden;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.article-page .thread__user_content {
  padding-top: 11px;
  padding-left: 22px;
  font-size: 14px;
  color: #43474d;
  width: 100%;
}
.article-page .thread__user_title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.article-page .thread__user_date,
.article-page .thread .meta-list {
  color: #b2b2b6;
}
.article-page .thread .meta-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.article-page .thread .meta-item {
  font-size: 14px;
  text-transform: uppercase;
}
.article-page .thread .meta-item img {
  margin-right: 8px;
}
.article-page .thread .meta-item + li {
  margin-left: 30px;
}
.article-page .thread .meta-item:hover {
  cursor: pointer;
  color: #4186b1;
}
.article-page .thread__user_text {
  padding-top: 31px;
  letter-spacing: 0.8px;
}
.article-page .thread__derived {
  padding-left: 65px;
  margin-top: 60px;
}
.article-page .thread__user_form_title {
  font-family: 'Gotham Pro', sans-serif;
  font-size: 11px;
  letter-spacing: 0.6px;
  color: rgba(197, 197, 216, 0.75);
}
.article-page .thread .reply-to {
  color: rgba(178, 178, 219, 0.75);
}
.article-page .thread__reply {
  margin-top: 30px;
}
.article-page .thread__reply .thread__user_form_title {
  text-transform: uppercase;
}
.article-page .thread__reply .thread__user_icon {
  margin-top: 26px;
}
.article-page .thread__user_input {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.article-page .thread__user_input textarea {
  width: 100%;
  outline: none;
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: transparent;
  border-bottom: 1px solid  #e6e6e6;
  resize: none;
  height: 36px;
  font-size: 14px;
  color: #43474d;
  padding-right: 25px;
  line-height: 1.29;
}
.article-page .thread__user_input textarea:focus,
.article-page .thread__user_input textarea:active {
  border-color: #4186b1;
}
.article-page .thread__user_input textarea::-webkit-input-placeholder {
  font-family: 'Gotham Pro', sans-serif;
  font-size: 11px;
  color: #ababab;
  line-height: 1.64;
  text-transform: uppercase;
}
.article-page .thread__user_input textarea::-moz-placeholder {
  font-family: 'Gotham Pro', sans-serif;
  font-size: 11px;
  color: #ababab;
  line-height: 1.64;
  text-transform: uppercase;
}
.article-page .thread__user_input textarea:-ms-input-placeholder {
  font-family: 'Gotham Pro', sans-serif;
  font-size: 11px;
  color: #ababab;
  line-height: 1.64;
  text-transform: uppercase;
}
.article-page .thread__user_input textarea::placeholder {
  font-family: 'Gotham Pro', sans-serif;
  font-size: 11px;
  color: #ababab;
  line-height: 1.64;
  text-transform: uppercase;
}
.article-page .thread__user_input .thread__user_content {
  padding-left: 15px;
}
.article-page .thread__user_input_submit {
  position: absolute;
  right: 5px;
  top: 6px;
  background-color: transparent;
  border: none;
}
.article-page .thread__user_input_submit:hover {
  cursor: pointer;
}
.article-page .thread__wrap_input {
  margin-top: 100px;
  margin-left: -30px;
  margin-right: -30px;
  padding: 18px 30px 36px 30px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.1);
  background-color: #fbfbfb;
}
.article-page .thread__wrap_input .thread__user_content {
  padding-top: 0;
}
.article-page .thread__user_input_count-letters {
  font-size: 11px;
  color: #d0d1d2;
  position: absolute;
  right: 0;
  bottom: -12px;
}
.article-page .snc-main-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -14px;
}
.article-page .snc-main-wrapper .main-wrapper {
  padding-top: 60px;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  margin-right: 30px;
}
.article-page .snc-main-wrapper .main-wrapper__block {
  padding-bottom: 170px;
}
.article-page .snc-main-wrapper .main-block__text {
  color: #43474d;
  padding: 69px 170px 60px 170px;
}
.article-page .snc-main-wrapper .main-block__title {
  font-size: 18px;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: 1.4px;
}
.article-page .snc-main-wrapper .main-block__title h3 {
  font-size: 24px;
  letter-spacing: 1.8px;
  font-weight: 300;
}
.article-page .snc-main-wrapper .main-block__content {
  margin-top: 23px;
  font-size: 14px;
  line-height: 1.71;
}
.article-page .snc-main-wrapper .main-block__content p + p,
.article-page .snc-main-wrapper .main-block__content li + li {
  margin-top: 28px;
}
.article-page .snc-main-wrapper .main-block__content li {
  padding-left: 30px;
  position: relative;
}
.article-page .snc-main-wrapper .main-block__content li::before {
  position: absolute;
  content: '';
  top: 8px;
  left: 12px;
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #454547;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
.article-page .snc-main-wrapper .main-block__slider .slide {
  background: url("../img/article-slider.jpg") no-repeat center / cover;
  height: 496px;
}
.article-page .snc-main-wrapper .main-block__slider .slick-arrow {
  background-color: transparent;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.article-page .snc-main-wrapper .main-block__slider .slick-prev::before,
.article-page .snc-main-wrapper .main-block__slider .slick-next::before,
.article-page .snc-main-wrapper .main-block__slider .slick-prev::after,
.article-page .snc-main-wrapper .main-block__slider .slick-next::after {
  position: absolute;
  width: 30px;
  height: 30px;
  background-size: 30px;
  content: '';
  display: inline-block;
}
.article-page .snc-main-wrapper .main-block__slider .slick-prev {
  left: 18px;
}
.article-page .snc-main-wrapper .main-block__slider .slick-prev::before {
  background: url(../img/icons/slider-r-arrow.svg) center / cover;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.article-page .snc-main-wrapper .main-block__slider .slick-prev::after {
  background: url(../img/icons/slider-l-arrow-hover.svg) center / cover;
  display: none;
}
.article-page .snc-main-wrapper .main-block__slider .slick-prev:hover::before {
  display: none;
}
.article-page .snc-main-wrapper .main-block__slider .slick-prev:hover::after {
  display: inline-block;
}
.article-page .snc-main-wrapper .main-block__slider .slick-next {
  right: 18px;
}
.article-page .snc-main-wrapper .main-block__slider .slick-next::before {
  background: url(../img/icons/slider-r-arrow.svg) center / cover;
}
.article-page .snc-main-wrapper .main-block__slider .slick-next::after {
  background: url(../img/icons/slider-l-arrow-hover.svg) center / cover;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  display: none;
}
.article-page .snc-main-wrapper .main-block__slider .slick-next:hover::before {
  display: none;
}
.article-page .snc-main-wrapper .main-block__slider .slick-next:hover::after {
  display: inline-block;
}
.article-page .snc-main-wrapper .main-block__slider ul.slick-dots {
  bottom: 7px;
}
.article-page .snc-main-wrapper .main-block__slider ul.slick-dots li {
  width: 21px;
  height: 10px;
  margin: 0 4px;
}
.article-page .snc-main-wrapper .main-block__slider ul.slick-dots li button {
  width: 21px;
  height: 1px;
}
.article-page .snc-main-wrapper .main-block__slider ul.slick-dots li button::before {
  width: 21px;
  height: 1px;
  -webkit-border-radius: 0;
          border-radius: 0;
}
.article-page .snc-main-wrapper .main-block__video-html video {
  width: 100%;
  height: 420px;
  -o-object-fit: fill;
     object-fit: fill;
}
.article-page .snc-main-wrapper .main-block__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  padding-right: 70px;
  padding-left: 70px;
}
.article-page .snc-main-wrapper .main-block__wrap .main-block__text {
  padding: 0 40px 0 0;
}
.article-page .snc-main-wrapper .main-block__wrap .main-block__video {
  width: 63%;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.article-page .snc-main-wrapper .main-block__wrap .main-block__video .video-banner {
  -webkit-border-radius: 4px;
          border-radius: 4px;
}
.article-page .snc-main-wrapper .main-block__wrap .main-block__inner-wrap:last-child {
  width: 41%;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.article-page .snc-main-wrapper .main-block__wrap .main-block__inner-wrap .main-block__title {
  letter-spacing: 0.2px;
  font-weight: 500;
}
.article-page .snc-main-wrapper .main-block__wrap .main-block__inner-wrap .main-block__content {
  margin-top: 4px;
}
.article-page .snc-main-wrapper .main-block__wrap .main-block__inner-wrap .main-block__text + .main-block__text {
  margin-top: 18px;
}
.article-page .snc-main-wrapper .main-block__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.article-page .snc-main-wrapper .main-block__table {
  padding-left: 70px;
  padding-right: 70px;
}
.article-page .snc-main-wrapper .main-block__table .btn-more {
  margin: 4px 0 0 auto;
  width: auto;
  letter-spacing: 0.4px;
  position: relative;
}
.article-page .snc-main-wrapper .main-block__table .btn-more::before {
  content: 'Want to follow changes?';
  color: #a6a6a6;
  position: absolute;
  top: 50%;
  left: -94%;
  font-weight: 400;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 14px;
  letter-spacing: 0.1px;
  text-transform: none;
}
.article-page .snc-main-wrapper .main-block__table-content {
  margin-top: 13px;
}
.article-page .snc-main-wrapper .main-block__match {
  margin-left: 170px;
  margin-right: 170px;
  background: url("../img/match-bkg.jpg") no-repeat top center / cover;
  color: #fff;
}
.article-page .snc-main-wrapper .main-block__match + .main-block__match {
  margin-top: 30px;
}
.article-page .snc-main-wrapper .main-block__match.small-banner .match-commands {
  padding-top: 30px;
  padding-bottom: 30px;
}
.article-page .snc-main-wrapper .main-block__match.small-banner-title .match-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  padding-top: 55px;
}
.article-page .snc-main-wrapper .main-block__match.small-banner-title .match-title .bold {
  font-weight: 500;
}
.article-page .snc-main-wrapper .main-block__match.small-banner-title .match-commands {
  padding-top: 35px;
  padding-bottom: 63px;
  margin: auto;
  width: 75%;
}
.article-page .snc-main-wrapper .main-block__match-gradient {
  background-color: rgba(48, 82, 95, 0.75);
}
.article-page .snc-main-wrapper .main-block__iframe {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 30px;
}
.article-page .snc-main-wrapper .main-block__audio-html {
  padding-left: 170px;
  padding-right: 170px;
}
.article-page .snc-main-wrapper .match-commands {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 63px 30px 0 30px;
}
.article-page .snc-main-wrapper .match-commands__team {
  width: 105px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.article-page .snc-main-wrapper .match-commands__team:first-child .match-commands__subscribe {
  text-align: left;
}
.article-page .snc-main-wrapper .match-commands__team:last-child .match-commands__subscribe {
  text-align: right;
}
.article-page .snc-main-wrapper .match-commands__icon {
  width: 98px;
  height: 98px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: relative;
  background-color: #fff;
}
.article-page .snc-main-wrapper .match-commands__icon img {
  position: absolute;
  top: 53%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
      -ms-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  max-width: 100%;
  height: 80%;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.article-page .snc-main-wrapper .match-commands__icon.icon-default {
  background-color: #e9e9e9;
}
.article-page .snc-main-wrapper .match-commands__subscribe {
  font-size: 18px;
  margin-top: 13px;
  line-height: 1.33;
}
.article-page .snc-main-wrapper .match-commands__team-title {
  font-size: 32px;
  font-weight: 100;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 98px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.article-page .snc-main-wrapper .match-commands__team-title span {
  line-height: 27px;
}
.article-page .snc-main-wrapper .match-commands__team-title .small {
  font-size: 18px;
  line-height: 1;
}
.article-page .snc-main-wrapper .match-commands__team-title .bold {
  font-weight: bold;
}
.article-page .snc-main-wrapper .match-commands__team-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  margin-top: -6px;
}
.article-page .snc-main-wrapper .match-commands__team-text .normal {
  font-weight: 400;
}
.article-page .snc-main-wrapper .match-commands__team-text .bold {
  font-weight: bold;
}
.article-page .snc-main-wrapper .match-commands__team-text .thin {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
}
.article-page .snc-main-wrapper .match-commands__cup {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding-top: 34px;
  padding-bottom: 45px;
  width: 75%;
  margin: auto;
}
.article-page .snc-main-wrapper .match-commands__cup .match-titles-count {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
}
.article-page .snc-main-wrapper .video-banner {
  width: 100%;
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.article-page .snc-main-wrapper .video-banner.video-sm {
  height: 380px;
}
.article-page .snc-main-wrapper .video-banner__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.article-page .snc-main-wrapper .video-banner__img::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.71;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#486e7c), to(#4186b1));
  background-image: linear-gradient(to top, #486e7c, #4186b1);
}
.article-page .snc-main-wrapper .video-banner__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.article-page .snc-main-wrapper .video-banner__content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.article-page .snc-main-wrapper .video-banner__content:hover .video-banner__controls {
  bottom: 0;
}
.article-page .snc-main-wrapper .video-banner__title {
  font-size: 14px;
  font-weight: 500;
  line-height: 2.71;
  color: #fff;
  left: 33px;
  top: 17px;
  position: absolute;
}
.article-page .snc-main-wrapper .video-banner__play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-74%) translateX(-12%);
      -ms-transform: translateY(-74%) translateX(-12%);
          transform: translateY(-74%) translateX(-12%);
  width: 86px;
  height: 57px;
  border: 37px solid transparent;
  border-left: 43px solid #fff;
  opacity: 0.7;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}
.article-page .snc-main-wrapper .video-banner__play:hover {
  opacity: 0.9;
}
.article-page .snc-main-wrapper .video-banner__controls {
  position: absolute;
  bottom: -100px;
  left: 0;
  right: 0;
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.article-page .snc-main-wrapper .video-banner__play-button {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  margin-left: 16px;
  height: 36px;
  width: 36px;
  border: 2px solid rgba(255, 255, 255, 0.7);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: url('../img/icons/player-button.svg') no-repeat center / contain;
  background-size: 9px;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}
.article-page .snc-main-wrapper .video-banner__play-button:hover {
  border-color: rgba(255, 255, 255, 0.9);
}
.article-page .snc-main-wrapper .video-banner__progress {
  height: 3px;
  width: -webkit-calc( 100% - 240px );
  width: calc( 100% - 240px );
  margin-left: 31px;
  margin-top: 17px;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
.article-page .snc-main-wrapper .video-banner__timeline {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
}
.article-page .snc-main-wrapper .video-banner__buffered {
  position: absolute;
  left: 0;
  height: 100%;
  width: 50%;
  background-color: #fff;
}
.article-page .snc-main-wrapper .video-banner__fullscreen {
  background: url('../img/icons/fullscreen.svg') no-repeat 14px 12px / contain;
  background-size: 13px;
  width: 59px;
}
.article-page .snc-main-wrapper .video-banner__volume {
  background: url('../img/icons/volume.svg') no-repeat 14px 12px / contain;
  background-size: 8px;
  width: 32px;
  position: relative;
}
.article-page .snc-main-wrapper .video-banner__volume input {
  position: absolute;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  top: -43%;
  right: -39px;
  width: 70px;
}
.article-page .snc-main-wrapper .video-banner__quality {
  width: 43px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 2.71;
  margin-left: auto;
}
.article-page .snc-main-wrapper .audio-banner audio {
  width: 100%;
}
.article-page .nm-share-block {
  bottom: -22px;
  left: 24.8%;
  top: auto;
  right: auto;
}
.article-page .nm-share-block.open {
  height: 54px;
}
.article-page .nm-share-block .nm-share-btn {
  float: left;
}
.article-page .nm-share-block .nm-share-toggle {
  right: auto;
  left: -44px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(#f0f0f0));
  background-image: linear-gradient(to top, #ffffff, #f0f0f0);
}
.article-page .nm-share-block .nm-share-toggle .nm-svg {
  fill: #000;
}
.article-page .nm-share-block .nm-share-toggle:hover .nm-svg {
  fill: #000;
}
.article-page .twitter-tweet {
  width: 100%!important;
}
@media (max-width: 1229px) {
  .article-page .snc-main-wrapper .r-sidebar {
    min-width: auto;
  }
}
@media (max-width: 1169px) {
  .article-page .EmbeddedTweet {
    width: 100%;
  }
  .article-page .above-content-block-homepage .main-news__content {
    width: auto;
    padding-left: 100px;
    padding-right: 128px;
  }
  .article-page .snc-main-wrapper {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .article-page .snc-main-wrapper aside {
    width: auto;
  }
  .article-page .snc-main-wrapper .r-sidebar {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: inherit;
  }
  .article-page .snc-main-wrapper .r-sidebar .aside-block:first-child {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-right: 30px;
  }
  .article-page .snc-main-wrapper .r-sidebar .aside-block:last-child {
    width: 277px;
  }
  .article-page .main-big-wrapper {
    width: 100%;
    padding-right: 0;
  }
}
