/*================================================*/
/*					  MAIN	HOMEPAGE		      */
/*================================================*/
.homepage main {
  margin: 0 30px;
}
@-webkit-keyframes apologic {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes apologic {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.pr-main {
  background-color: #fff;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  padding: 30px 25px;
  position: relative;
}
.pr-main-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
}
.pr-main-title-left {
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  color: #43474d;
  font-weight: 600;
}
.pr-main-title-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.pr-main-title-right p {
  font-size: 14px;
  text-align: left;
  color: #a8adb2;
}
.pr-main-title-right .pr-switch {
  margin-left: 12px;
  width: 32px;
  position: relative;
  cursor: pointer;
}
.pr-main-title-right .pr-switch-container {
  width: 32px;
  height: 11px;
  background-color: #e1e8ee;
  -webkit-box-shadow: inset 0px 1px 0 0 rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 1px 0 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.pr-main-title-right .pr-switch-circle {
  position: absolute;
  width: 13px;
  height: 13px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: #a1a6ac;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.pr-main-title-right .pr-switch-circle-active {
  left: 19px;
  background-color: #4186b0;
}
.pr-main-odds {
  display: none;
  padding: 30px;
  width: 100%;
  position: absolute;
  -webkit-box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  left: 0;
  z-index: 2;
}
.pr-main-odds form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.pr-main-odds form .pr-radio {
  position: relative;
  margin-right: 25px;
}
.pr-main-odds form .pr-radio label {
  background-color: #e1e8ee;
  -webkit-box-shadow: inset 0px 1px 1px 0 rgba(0, 0, 0, 0.15);
          box-shadow: inset 0px 1px 1px 0 rgba(0, 0, 0, 0.15);
  width: 11px;
  height: 11px;
  display: inline-block;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 10px;
}
.pr-main-odds form .pr-radio label input {
  position: absolute;
  opacity: 0;
}
.pr-main-odds form .pr-radio label input .pr-circle {
  opacity: 0;
}
.pr-main-odds form .pr-radio span {
  font-size: 14px;
  letter-spacing: 0.1px;
  text-align: left;
  color: #43474d;
}
.pr-main-odds form .pr-radio label input:checked ~ .pr-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
      -ms-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  width: 11px;
  height: 11px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 2px solid #4186b1;
  background-color: #fff;
  opacity: 1;
}
.pr-main-content {
  position: relative;
}
.pr-main-content .pr-arrow {
  display: none;
  position: absolute;
  top: 20px;
  right: 5px;
  padding-left: 25px;
  padding-top: 6px;
  padding-bottom: 6px;
}
.pr-main-content .pr-arrow svg {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  fill: #a8adb2;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.pr-main-content .pr-arrow.active svg {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.pr-main-content-row {
  padding: 8px 0;
  border-top: 1px solid #f4f4f4;
  position: relative;
}
.pr-main-content-row:last-child {
  padding-bottom: 0;
}
.pr-main-content-row-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.pr-main-content-row-title-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.pr-main-content-row-title-left .pr-country-icon {
  width: 45px;
  height: 45px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-right: 20px;
  overflow: hidden;
}
.pr-main-content-row-title-left .pr-country-icon svg {
  width: 100%;
  height: 100%;
  max-width: 45px;
  max-height: 45px;
}
.pr-main-content-row-title-left .pr-country-icon .pr-green-svg {
  fill: #33ed9c;
}
.pr-main-content-row-title-left .pr-country-icon .pr-icon {
  width: 100%;
  height: 100%;
  background-size: cover;
}
.pr-main-content-row-title-left .pr-country-icon img {
  width: 45px;
  height: 45px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
.pr-main-content-row-title-left .pr-country-name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
}
.pr-main-content-row-title-left .pr-country-name .pr-mainland-name a.pr-mainland-link {
  font-family: 'Gotham Pro';
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.8px;
  text-align: left;
  color: #4186b1;
  text-transform: uppercase;
}
.pr-main-content-row-title-left .pr-country-name .pr-mainland-name a.pr-mainland-link:hover {
  color: #77b1d5;
}
.pr-main-content-row-title-left .pr-country-name .pr-cup-name a.pr-cup-link {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #486e7c;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 315px;
  width: 100%;
  display: block;
}
.pr-main-content-row-title-left .pr-country-name .pr-cup-name a.pr-cup-link:hover {
  color: #4186b1;
}
.pr-main-content-row-title-left .pr-country-name .pr-cup-name a.pr-cup-link-open {
  max-width: 170px;
}
.pr-main-content-row-title-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.pr-main-content-row-title-right .pr-lightgreen {
  max-width: 90px;
}
.pr-main-content-row-title-right .pr-lightgreen p {
  font-size: 12px;
  text-align: left;
  color: #33ed9c;
  display: block;
}
.pr-main-content-row-title-right .pr-title-score-row {
  display: none;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.pr-main-content-row-title-right .pr-title-score-row .pr-x-col {
  width: 50px;
  margin: 0 5px;
}
.pr-main-content-row-title-right .pr-title-score-row .pr-x-col p {
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  color: #43474d;
}
.pr-main-content-row-title-right .pr-title-score-row-open {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 111px;
  margin-right: 7px;
}
.pr-main-content-row .pr-match-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 3px 0;
  padding: 6px 0;
  background-color: #fff;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: 1px solid transparent;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  cursor: pointer;
}
.pr-main-content-row .pr-match-row:hover {
  border-color: #E9E9E9;
  background-color: #f4f4f4;
}
.pr-main-content-row .pr-match-row a {
  pointer-events: all;
}
.pr-main-content-row .pr-match-row-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.pr-main-content-row .pr-match-row-left .pr-left-col {
  padding-left: 4px;
  width: 100%;
  max-width: 75px;
  min-width: 75px;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.pr-main-content-row .pr-match-row-left .pr-left-col:after {
  content: '';
  height: 27px;
  width: 1px;
  background-color: #e1e8ee;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
}
.pr-main-content-row .pr-match-row-left .pr-match-time {
  font-size: 14px;
  text-align: left;
  color: #486e7c;
  padding-right: 15px;
}
.pr-main-content-row .pr-match-row-left .pr-match-cancel {
  font-size: 11px;
  text-align: left;
  color: #ed334d;
  padding-right: 15px;
}
.pr-main-content-row .pr-match-row-left .pr-match-live {
  font-size: 14px;
  text-align: left;
  color: #308ae6;
  padding-right: 8px;
}
.pr-main-content-row .pr-match-row-left .pr-match-live span {
  color: #43474d;
}
.pr-main-content-row .pr-match-row-left .pr-match-live span:after {
  content: '\2019';
  opacity: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-animation: apologic 2s infinite ease;
          animation: apologic 2s infinite ease;
}
.pr-main-content-row .pr-match-row-left .pr-fz-11 {
  font-size: 11px;
}
.pr-main-content-row .pr-match-row-left .pr-match-row-center .pr-match-row-center-left p {
  -webkit-transition: .2s;
  transition: .2s;
}
.pr-main-content-row .pr-match-row-left .pr-match-row-center .pr-match-row-center-left:hover div p {
  color: #4186b1;
}
.pr-main-content-row .pr-match-row .pr-match-row-center {
  padding-left: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.pr-main-content-row .pr-match-row .pr-match-row-center-left {
  cursor: pointer;
}
.pr-main-content-row .pr-match-row .pr-match-row-center-left .pr-team-name-cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.pr-main-content-row .pr-match-row .pr-match-row-center-left .pr-team-name-cont .pr-match-team-name {
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  color: #43474d;
  display: block;
  max-width: 250px;
  min-width: 100px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.pr-main-content-row .pr-match-row .pr-match-row-center-left .pr-team-name-cont .pr-match-team-name-open {
  max-width: 110px;
}
.pr-main-content-row .pr-match-row .pr-match-row-center-left .pr-team-name-cont .pr-coeff {
  margin-left: 15px;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
}
.pr-main-content-row .pr-match-row .pr-match-row-center-left .pr-team-name-cont .pr-coeff.pr-bold {
  font-weight: 600;
}
.pr-main-content-row .pr-match-row .pr-match-row-center-left .pr-team-name-cont .pr-coeff.pr-dark {
  color: #43474d;
}
.pr-main-content-row .pr-match-row .pr-match-row-center-left .pr-team-name-cont .pr-coeff.pr-blue {
  color: #308ae6;
}
.pr-main-content-row .pr-match-row .pr-match-row-center-left .pr-team-name-cont .pr-record {
  margin-left: 12px;
  display: block;
  width: 10px;
  height: 10px;
  opacity: 0;
}
.pr-main-content-row .pr-match-row .pr-match-row-center-left .pr-team-name-cont .pr-record-red {
  background-color: #ed334d;
  opacity: 1;
}
.pr-main-content-row .pr-match-row .pr-match-row-center-left .pr-team-name-cont .pr-record-green {
  margin-left: 12px;
  display: block;
  width: 10px;
  height: 10px;
  opacity: 1;
  background-color: #33ed9c;
}
.pr-main-content-row .pr-match-row .pr-match-row-center-left .pr-team-name-cont .pr-record-pass {
  opacity: 1;
  background-color: #b3b5bc;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  position: relative;
}
.pr-main-content-row .pr-match-row .pr-match-row-center-left .pr-team-name-cont .pr-record-pass:after {
  content: '';
  width: 6px;
  height: 6px;
  display: block;
  position: absolute;
  left: 2px;
  top: 2px;
  background-color: #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
.pr-main-content-row .pr-match-row .pr-match-row-center-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  min-width: 73px;
  margin-right: 15px;
}
.pr-main-content-row .pr-match-row .pr-match-row-center-right .pr-event-container {
  max-height: 15px;
  min-width: 30px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: transparent;
  border: solid 1px #5b9de9;
  margin: 0 7px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 3px;
  line-height: 13px;
}
.pr-main-content-row .pr-match-row .pr-match-row-center-right .pr-event-container span {
  font-size: 10px;
  text-align: left;
  color: #81afe5;
  display: block;
  padding: 2px 5px 2px 5px;
}
.pr-main-content-row .pr-match-row .pr-match-row-center-right .pr-goal {
  font-size: 14px;
  font-weight: 500;
  text-align: right;
  color: #308ae6;
  margin-right: 15px;
}
.pr-main-content-row .pr-match-row-right-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.pr-main-content-row .pr-match-row-right-wrap .pr-favorite-container {
  position: relative;
}
.pr-main-content-row .pr-match-row-right-wrap .pr-favorite-container .pr-favorite-btn {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: solid 1px #c9cccf;
  margin-right: 6px;
  padding-left: 2px;
}
.pr-main-content-row .pr-match-row-right-wrap .pr-favorite-container .pr-favorite-btn i {
  display: block;
  text-align: center;
  font-size: 13px;
  color: #c9cccf;
}
.pr-main-content-row .pr-match-row-right-wrap .pr-favorite-container .pr-favorite-btn:hover {
  background-color: #4186b1;
  border-color: #4186b0;
}
.pr-main-content-row .pr-match-row-right-wrap .pr-favorite-container .pr-favorite-btn:hover i {
  color: #fff;
}
.pr-main-content-row .pr-match-row-right-wrap .pr-favorite-container .pr-favorite-btn:focus {
  background-color: #fff;
}
.pr-main-content-row .pr-match-row-right-wrap .pr-favorite-container .pr-favorite-btn:focus i {
  color: #4186b1;
}
.pr-main-content-row .pr-match-row-right-wrap .pr-favorite-container .pr-favorite-btn-active {
  background-color: transparent;
  border-color: #4186b0;
}
.pr-main-content-row .pr-match-row-right-wrap .pr-favorite-container .pr-favorite-btn-active i {
  color: #4186b0;
}
.pr-main-content-row .pr-match-row-right-wrap .pr-favorite-container .pr-fvr-muted {
  border-color: #3f86b2!important;
  position: relative;
}
.pr-main-content-row .pr-match-row-right-wrap .pr-favorite-container .pr-fvr-muted i {
  color: #3f86b2!important;
}
.pr-main-content-row .pr-match-row-right-wrap .pr-favorite-container .pr-fvr-muted:after {
  content: '';
  width: 38px;
  height: 1px;
  background-color: #3f86b2;
  -webkit-transform: rotate(-45deg) translateX(-50%);
      -ms-transform: rotate(-45deg) translateX(-50%);
          transform: rotate(-45deg) translateX(-50%);
  top: 0;
  right: -19px;
  position: absolute;
  display: block;
}
.pr-main-content-row .pr-match-row-right-wrap .pr-favorite-container .pr-fvr-muted:hover {
  border-color: #3f86b2!important;
  background: #fff;
}
.pr-main-content-row .pr-match-row-right-wrap .pr-favorite-container .pr-fvr-muted:hover i {
  color: #3f86b2!important;
}
.pr-main-content-row .pr-match-row-right-wrap .pr-favorite-container .pr-fvr-muted:hover:after {
  background-color: #3f86b2;
}
.pr-main-content-row .pr-match-row-right-wrap .pr-favorite-container .nm-dropdown {
  position: absolute;
  display: none;
  top: 39px;
  right: 0;
  min-width: 90px;
  will-change: opacity;
  z-index: 90;
}
.pr-main-content-row .pr-match-row-right-wrap .pr-favorite-container .nm-dropdown ul {
  background-color: #fff;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 5px 18px rgba(0, 0, 0, 0.06);
          box-shadow: 0 5px 18px rgba(0, 0, 0, 0.06);
  overflow: hidden;
  min-width: 150px;
}
.pr-main-content-row .pr-match-row-right-wrap .pr-favorite-container .nm-dropdown ul:before {
  position: absolute;
  display: block;
  content: "";
  border-style: solid;
  border-width: 0px 5px 5px 5px;
  border-color: transparent transparent #fff transparent;
  top: -2px;
  right: 15px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: .2s;
  transition: .2s;
}
.pr-main-content-row .pr-match-row-right-wrap .pr-favorite-container .nm-dropdown ul.first-hover:before {
  border-color: transparent transparent #4186B1 transparent;
}
.pr-main-content-row .pr-match-row-right-wrap .pr-favorite-container .nm-dropdown ul li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.pr-main-content-row .pr-match-row-right-wrap .pr-favorite-container .nm-dropdown ul li:not(:last-child) {
  border-bottom: 1px solid #c9cccf;
}
.pr-main-content-row .pr-match-row-right-wrap .pr-favorite-container .nm-dropdown ul li a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #a1a6ac;
  font-family: "Gotham Pro", sans-serif;
  font-size: 9px;
  font-weight: 500;
  text-transform: uppercase;
  white-space: nowrap;
  width: 100%;
  min-height: 30px;
  height: 30px;
  padding: 5px 12px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.pr-main-content-row .pr-match-row-right-wrap .pr-favorite-container .nm-dropdown ul li a img {
  display: block;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 18px;
  min-width: 18px;
  height: 18px;
  margin-right: 10px;
}
.pr-main-content-row .pr-match-row-right-wrap .pr-favorite-container .nm-dropdown ul li a i {
  font-size: 12px;
  color: #c9cccf;
}
.pr-main-content-row .pr-match-row-right-wrap .pr-favorite-container .nm-dropdown ul li a:hover {
  color: #fff;
  background-color: #4186B1;
}
.pr-main-content-row .pr-match-row-right-wrap .pr-favorite-container .nm-dropdown ul li .pr-remove {
  color: #ed334d;
}
.pr-main-content-row .pr-match-row-right-wrap .pr-more-btn {
  display: none;
  width: 55px;
  font-family: 'Gotham Pro';
  height: 30px;
  text-transform: uppercase;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: #486e7c;
  font-size: 11px;
  font-weight: 500;
  text-align: center;
  line-height: 30px;
  color: #ffffff;
}
.pr-main-content-row .pr-match-row-right-wrap .pr-more-btn:hover {
  background-color: #4186b0;
}
.pr-main-content-row .pr-match-row-right-wrap .pr-more-btn:visited {
  background-color: #395a67;
}
.pr-main-content-row .pr-match-row-right-wrap .pr-odds-row {
  display: none;
  margin-left: 25px;
}
.pr-main-content-row .pr-match-row-right-wrap .pr-odds-row .pr-odds-row-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.pr-main-content-row .pr-match-row-right-wrap .pr-odds-row .pr-odds-row-wrap .pr-odds-col {
  margin: 0 5px;
  width: 38px;
  height: 30px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: transparent;
  position: relative;
  padding-left: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0;
}
.pr-main-content-row .pr-match-row-right-wrap .pr-odds-row .pr-odds-row-wrap .pr-odds-col a {
  font-size: 12px;
  font-weight: 300;
  text-align: justify;
  color: #43474d;
}
.pr-main-content-row .pr-match-row-right-wrap .pr-odds-row .pr-odds-row-wrap .pr-odds-col a:hover {
  color: #4186b1;
}
.pr-main-content-row .pr-match-row-right-wrap .pr-odds-row .pr-odds-row-wrap .pr-odds-yellow {
  background-color: #fcd382;
}
.pr-main-content-row .pr-match-row-right-wrap .pr-odds-row .pr-odds-row-wrap .pr-odds-yellow a {
  color: #000;
}
.pr-main-content-row .pr-match-row-right-wrap .pr-odds-row .pr-odds-row-wrap .pr-odds-yellow .pr-odds-down:before {
  border-top-color: #fff;
}
.pr-main-content-row .pr-match-row-right-wrap .pr-odds-row .pr-odds-row-wrap .pr-odds-yellow .pr-odds-up:before {
  border-bottom-color: #fff;
}
.pr-main-content-row .pr-match-row-right-wrap .pr-odds-row .pr-odds-row-wrap .pr-odds-up:before {
  content: '';
  position: absolute;
  border: 2px solid transparent;
  border-bottom: 4px solid #33ed9c;
  top: 44%;
  left: 2px;
  display: block;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.pr-main-content-row .pr-match-row-right-wrap .pr-odds-row .pr-odds-row-wrap .pr-odds-down:before {
  content: '';
  display: block;
  position: absolute;
  border: 2px solid transparent;
  border-top: 4px solid #ed334d;
  top: 44%;
  left: 2px;
}
.pr-main-content-row .pr-match-row-right-wrap-active {
  position: relative;
}
.pr-main-content-row .pr-match-row-right-wrap-active:after {
  content: '';
  width: 100%;
  height: 1px;
  display: block;
  top: -15px;
  left: 0;
  position: absolute;
  background-color: #e1e8ee;
}
.pr-main-content-row .pr-match-row-active {
  background-color: #ffedca;
}
.pr-main-content-row .pr-match-row-active .pr-match-row-right-wrap .pr-favorite-container .pr-favorite-btn {
  border-color: #425066;
}
.pr-main-content-row .pr-match-row-active .pr-match-row-right-wrap .pr-favorite-container .pr-favorite-btn i {
  color: #425066;
}
.pr-main-content-row .pr-match-row-active .pr-match-row-right-wrap .pr-favorite-container .pr-favorite-btn:hover {
  border-color: #fff;
}
.pr-main-content-row .pr-match-row-active .pr-match-row-right-wrap .pr-favorite-container .pr-favorite-btn:hover i {
  color: #fff;
}
.pr-main-content-row .pr-match-row-active .pr-match-row-right-wrap .pr-favorite-container .pr-favorite-btn-active {
  background-color: transparent;
  border-color: #4186b0;
}
.pr-main-content-row .pr-match-row-active .pr-match-row-right-wrap .pr-favorite-container .pr-favorite-btn-active i {
  color: #4186b0;
}
.pr-main-content-row .pr-match-row-active .pr-match-row-right-wrap .pr-favorite-container .pr-favorite-btn-active:hover {
  background-color: #4186b1;
  border-color: #4186b1;
}
.pr-main-content-row .pr-match-row-active .pr-match-row-right-wrap .pr-favorite-container .pr-favorite-btn-active:hover i {
  color: #fff;
}
.nm-moz .pr-main-content-row .pr-match-row .pr-match-row-center-right .pr-event-container span {
  padding-top: 4px;
}
.pr-curr-tournaments {
  margin-top: 30px;
}
.pr-curr-tournaments-title {
  font-size: 14px;
  color: #43474d;
  margin-bottom: 40px;
  font-weight: 500;
  text-align: left;
}
.pr-curr-tournaments-title a {
  color: #486e7c;
}
.pr-curr-tournaments-row {
  width: 100%;
}
.pr-curr-tournaments-row a {
  font-size: 14px;
  color: #43474d;
  font-weight: 300;
  line-height: 1.71;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.pr-curr-tournaments-row a span {
  color: #a1a6ac;
  font-weight: 400;
}
.pr-curr-tournaments-row a:hover {
  color: #4186b1;
}
.pr-curr-tournaments-row a:hover span {
  color: #4186b1;
}
/*================================================*/
/*						  MEDIA				      */
/*================================================*/
@media (max-width: 1200px) {
  .homepage main {
    margin-left: 0;
  }
}
@media (max-width: 920px) {
  .homepage main {
    margin-right: 0;
  }
}
@media (max-width: 620px) {
  .pr-main-odds,
  .pr-main-title-right {
    display: none;
  }
  /* 	.pr-main-content-row .pr-match-row:hover{
	border: none;
} */
  .pr-main-content-row .pr-match-row .pr-match-row-center-right .pr-event-container {
    margin: 0 6px;
  }
  .pr-main {
    padding: 30px 7px 8px 7px;
  }
  .pr-main .pr-match-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .pr-main .pr-main-content .pr-arrow {
    display: block;
  }
  .pr-main-content-row-title-left .pr-country-name .pr-mainland-name a.pr-mainland-link:hover {
    color: #4186b1;
  }
  .pr-main-content-row-title-left .pr-country-name .pr-cup-name a.pr-cup-link {
    max-width: 165px;
  }
  .pr-main-content-row-title-left .pr-country-name .pr-cup-name a.pr-cup-link:hover {
    color: inherit;
  }
  .pr-main-content-row-title-left .pr-country-name.open .pr-mainland-name a.pr-mainland-link:hover {
    color: #77b1d5;
  }
  .pr-main-content-row-title-left .pr-country-name.open .pr-cup-name a.pr-cup-link {
    max-width: 165px;
  }
  .pr-main-content-row-title-left .pr-country-name.open .pr-cup-name a.pr-cup-link:hover {
    color: #4186b1;
  }
  .pr-main-content-row-title-right {
    display: none;
  }
  .pr-main-content-row .pr-match-rows-wrap {
    display: none;
  }
  .pr-main-content-row .pr-match-row {
    padding: 6px 0;
    position: relative;
  }
  .pr-main-content-row .pr-match-row .pr-match-row-center-left .pr-team-name-cont .pr-match-team-name {
    max-width: 120px;
  }
  .pr-main-content-row .pr-match-row-right {
    display: none;
    background-color: #fff;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    height: 100%;
    width: 100%;
  }
  .pr-main-content-row .pr-match-row-right.active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .pr-main-content-row .pr-match-row .pr-match-row-center-right {
    margin-right: 0;
  }
  .pr-main-content-row .pr-match-row-right-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: 0px 3px 16px 0 rgba(0, 0, 0, 0.04);
            box-shadow: 0px 3px 16px 0 rgba(0, 0, 0, 0.04);
    border: solid 1px #f4f4f4;
  }
  .pr-main-content-row .pr-match-row-right-wrap .pr-odds-row {
    margin-left: 0;
    display: block!important;
  }
  .pr-main-content-row .pr-match-row-right-wrap .pr-odds-row .pr-odds-row-wrap .pr-odds-col {
    margin-left: 15px;
  }
  .pr-main-content-row .pr-match-row-right-wrap .pr-odds-row .pr-odds-row-wrap .pr-odds-col a {
    font-size: 14px;
    font-weight: normal;
  }
  .pr-main-content-row .pr-match-row-right-wrap .pr-more-btn {
    display: block;
    margin-right: 5px;
    margin-left: 30px;
  }
}
