/* шрифты для userpage подключены отдельно, так как некорректно объявлены в main.css */
@font-face {
  font-family: 'GothamPro-user';
  src: url('../fonts/GothamPro.eot');
  src: url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamPro.woff') format('woff'), url('../fonts/GothamPro.ttf') format('truetype'), url('../fonts/GothamPro.svg#../fonts/GothamPro') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamPro-Medium-user';
  src: url('../fonts/GothamPro-Medium.eot');
  src: url('../fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamPro-Medium.woff') format('woff'), url('../fonts/GothamPro-Medium.ttf') format('truetype'), url('../fonts/GothamPro-Medium.svg#../fonts/GothamPro-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr-Light-user';
  src: url('../fonts/HelveticaNeueCyr-Light.eot');
  src: url('../fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-Light.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Light.ttf') format('truetype'), url('../fonts/HelveticaNeueCyr-Light.svg#../fonts/HelveticaNeueCyr-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr-Roman-user';
  src: url('../fonts/HelveticaNeueCyr-Roman.eot');
  src: url('../fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype'), url('../fonts/HelveticaNeueCyr-Roman.svg#../fonts/HelveticaNeueCyr-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr-Medium-user';
  src: url('../fonts/HelveticaNeueCyr-Medium.eot');
  src: url('../fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Medium.ttf') format('truetype'), url('../fonts/HelveticaNeueCyr-Medium.svg#../fonts/HelveticaNeueCyr-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
.box-container {
  background-color: #fff;
  border: 1px solid #f4f4f4;
  border-radius: 4px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 34px;
}
.box-container.-no-margin {
  margin-bottom: 0;
}
@media (max-width: 920px) {
  .box-container {
    margin-bottom: 30px;
  }
}
@media (max-width: 480px) {
  .box-container {
    margin-bottom: 8px;
  }
}
.box-inner,
.user-detail,
.user-statistics {
  padding: 26px 30px;
}
.box-title + .box-inner {
  padding-top: 0;
}
@media (max-width: 620px) {
  .box-inner,
  .user-detail,
  .user-statistics {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (max-width: 620px) {
  .box-inner,
  .user-detail,
  .user-statistics {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
.box-title {
  margin-bottom: 15px;
}
.box-title > .title {
  color: #43474d;
  display: block;
  font-family: 'HelveticaNeueCyr-Medium-user', sans-serif;
  font-size: 14px;
  line-height: 1.1;
  overflow: hidden;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
}
.box-title.-bottom-border {
  border-bottom: 1px solid #f4f4f4;
  padding: 22px 30px 12px;
}
@media (max-width: 620px) {
  .box-title.-bottom-border {
    padding-left: 12px;
    padding-right: 12px;
  }
}
.box-pagination {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}
.box-content {
  padding: 15px 0;
}
.box-content.-bottom-border {
  border-bottom: 1px solid #f4f4f4;
  padding-bottom: 15px;
}
.box-row {
  display: flex;
  width: 100%;
}
.box-column {
  flex-basis: 50%;
}
.box-text-small {
  color: #a1a6ac;
  font-family: 'HelveticaNeueCyr-Roman-user', sans-serif;
  font-size: 11px;
}
.btn-userpage-navigation {
  border: 1px solid #c9cccf;
  border-radius: 4px;
  color: #a1b1b7;
  fill: #a1b1b7;
  cursor: pointer;
  font-family: 'HelveticaNeueCyr-Roman-user', sans-serif;
  font-size: 14px;
  line-height: 1;
  padding: 7px 10px;
}
.btn-userpage-navigation:hover {
  color: #3e80a9;
  border-color: #3e80a9;
  fill: #3e80a9;
}
.btn-userpage-navigation > .svg-ic {
  height: 11px;
  margin-right: 10px;
  vertical-align: middle;
}
.btn-userpage-navigation.-next > .svg-ic {
  margin-left: 10px;
  margin-right: 0;
}
.btn-userpage-signout {
  border: 1px solid #c9cccf;
  border-radius: 4px;
  color: #a1b1b7;
  cursor: pointer;
  fill: #a1b1b7;
  font-family: 'GothamPro-Medium-user', sans-serif;
  font-size: 11px;
  line-height: 1.1;
  margin-top: 15px;
  padding: 5px 8px;
  white-space: nowrap;
}
.btn-userpage-signout:hover {
  border-color: #486e7c;
  color: #486e7c;
  fill: #486e7c;
}
.btn-userpage-signout > .svg-ic {
  margin-left: 8px;
}
@media (max-width: 620px) {
  .btn-userpage-signout {
    margin-top: 0;
  }
}
.aside-slide-btn {
  color: #c9cccf;
  fill: #c9cccf;
  cursor: pointer;
  display: inline-block;
  height: 11px;
  vertical-align: middle;
  width: 18px;
}
.aside-slide-btn:hover {
  color: #3e80a9;
  fill: #3e80a9;
}
.aside-slide-btn.-prev {
  margin-right: 4px;
}
.aside-slide-btn.-next {
  margin-left: 4px;
  text-align: right;
}
.svg-ic {
  fill: inherit;
  display: inline-block;
  vertical-align: top;
}
.svg-ic:hover {
  fill: inherit;
}
.userpage-favorite-container {
  position: relative;
}
@media (max-width: 620px) {
  .userpage-favorite-container {
    display: none;
  }
}
.userpage-favorite-btn {
  border: 1px solid #c9cccf;
  border-radius: 4px;
  display: inline-block;
  color: #c9cccf;
  fill: #c9cccf;
  height: 28px;
  line-height: 27px;
  position: relative;
  text-align: center;
  vertical-align: top;
  width: 28px;
  z-index: 3;
}
.userpage-favorite-btn:hover,
.userpage-favorite-btn.pr-favorite-btn-active:hover {
  background: #3e80a9;
  border-color: #3e80a9;
  color: #fff;
  fill: #fff;
}
.userpage-favorite-btn.pr-favorite-btn-active {
  border-color: #3e80a9;
  color: #3e80a9;
  fill: #3e80a9;
}
.userpage-favorite-btn.pr-fvr-muted:after {
  background-color: #c9cccf;
  content: '';
  height: 1px;
  transform: rotate(-45deg) translateX(-50%);
  top: 0;
  right: -19px;
  position: absolute;
  width: 38px;
}
.userpage-favorite-btn.pr-fvr-muted:hover:after {
  background-color: #fff;
}
.userpage-favorite-btn > .icon-icon-favorite {
  font-size: 13px;
  padding-left: 2px;
}
.userpage-favorite-dropdown {
  position: absolute;
  display: none;
  top: 39px;
  right: 0;
  min-width: 90px;
  will-change: opacity;
  z-index: 90;
}
.userpage-favorite-dropdown-list {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.06);
  overflow: hidden;
  min-width: 150px;
}
.userpage-favorite-dropdown-list > .item {
  border-bottom: 1px solid #c9cccf;
}
.userpage-favorite-dropdown-list > .item:last-child {
  border-bottom: none;
}
.userpage-favorite-dropdown-list > .item:first-child:before {
  border-style: solid;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #fff transparent;
  content: "";
  display: block;
  position: absolute;
  right: 10px;
  transition: .2s;
  top: -5px;
}
.userpage-favorite-dropdown-list > .item:first-child:hover:before {
  border-bottom-color: #4186b1;
}
.userpage-favorite-dropdown-btn {
  color: #a1a6ac;
  display: block;
  font-family: 'GothamPro-Medium-user', sans-serif;
  font-size: 9px;
  line-height: 20px;
  height: 30px;
  padding: 5px 12px;
  text-transform: uppercase;
  white-space: nowrap;
}
.userpage-favorite-dropdown-btn:hover,
.userpage-favorite-dropdown-btn.pr-remove:hover {
  background: #4186b1;
  color: #fff;
}
.userpage-favorite-dropdown-btn.pr-remove {
  color: #f05d6e;
}
.aside-slide-container {
  overflow: hidden;
}
.aside-owl-nav-container {
  margin-bottom: 30px;
}
.aside-owl-nav-container .owl-prev,
.aside-owl-nav-container .owl-next {
  color: #c9cccf;
  fill: #c9cccf;
  cursor: pointer;
  display: inline-block;
  height: 11px;
  vertical-align: middle;
  width: 18px;
}
.aside-owl-nav-container .owl-prev:hover,
.aside-owl-nav-container .owl-next:hover {
  color: #3e80a9;
  fill: #3e80a9;
}
.aside-owl-nav-container .owl-prev {
  margin-right: 4px;
}
.aside-owl-nav-container .owl-next {
  margin-left: 4px;
  text-align: right;
}
@media (max-width: 620px) {
  .aside-owl-nav-container {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .aside-owl-nav-container {
    margin-bottom: 0;
    text-align: center;
  }
}
.user-info-container {
  display: flex;
  overflow: hidden;
  width: 100%;
}
@media (max-width: 723px) {
  .user-info-container {
    flex-wrap: wrap;
  }
}
.user-detail {
  flex-grow: 1;
  position: relative;
}
@media (max-width: 480px) {
  .user-detail {
    padding: 13px 9.5px;
  }
}
.user-logo-form {
  border: 1px solid #f4f4f4;
  border-radius: 50%;
  float: left;
  height: 100px;
  margin-right: 26px;
  position: relative;
  overflow: hidden;
  width: 100px;
}
@media (max-width: 480px) {
  .user-logo-form {
    height: 51px;
    margin-right: 10px;
    width: 51px;
  }
}
.user-logo-label {
  background: #fff;
  bottom: 0;
  cursor: pointer;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}
.user-logo-label > .svg-ic {
  fill: #cfcfcf;
  height: 18px;
  left: 50%;
  margin-left: -10px;
  margin-top: -9px;
  position: absolute;
  top: 50%;
  width: 20px;
}
.user-logo-form:hover .user-logo-label {
  background-image: linear-gradient(to top, #486e7c, #4186b1);
  box-shadow: 0 5px 18px 0 rgba(0, 0, 0, 0.06);
  z-index: 5;
}
.user-logo-form:hover .user-logo-label > .svg-ic {
  fill: #fff;
}
.user-logo-icon {
  border-radius: 50%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}
@media (max-width: 480px) {
  .user-logo-icon {
    height: 50px;
    width: 50px;
  }
}
.user-logo-field {
  display: none;
}
.user-info-row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 480px) {
  .user-info-row:last-child {
    clear: left;
  }
}
.user-name-form {
  margin-top: 15px;
  width: 265px;
}
.user-name-form.-active > .user-name-field {
  display: none;
}
.user-name-form.-active > .user-name-edit-fields {
  display: flex;
}
@media (max-width: 620px) {
  .user-name-form {
    margin-bottom: 10px;
    margin-top: 0;
  }
  .user-name-form:before {
    content: '';
    position: absolute;
  }
  .user-name-form.-active:after {
    background: rgba(0, 0, 0, 0.2);
    bottom: 0;
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
  }
  .user-name-form.-active > .user-name-field {
    display: block;
    visibility: hidden;
  }
}
@media (max-width: 480px) {
  .user-name-form {
    width: 100%;
  }
}
.user-name-edit-fields {
  align-items: center;
  display: none;
  position: relative;
}
@media (max-width: 620px) {
  .user-name-edit-fields {
    background: #fff;
    position: absolute;
    left: 0;
    padding: 35px 8px 8px;
    right: 0;
    top: 0;
    z-index: 15;
  }
}
.user-name-field {
  display: inline-block;
  padding-right: 22px;
  max-width: 100%;
  position: relative;
  vertical-align: top;
}
.user-name-field > .name {
  color: #43474d;
  font-family: 'HelveticaNeueCyr-Roman-user', sans-serif;
  font-size: 18px;
  letter-spacing: 1.4px;
  line-height: 1.25;
  overflow: hidden;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (max-width: 480px) {
  .user-name-field > .name {
    font-size: 14px;
    letter-spacing: 1.1px;
  }
}
.user-name-edit-field {
  background: #fff;
  border: none;
  border-bottom: 1px solid #3e80a9;
  font-family: 'HelveticaNeueCyr-Roman-user', sans-serif;
  font-size: 14px;
  height: 20px;
  letter-spacing: 0.7px;
  padding: 0 0 5px;
  width: 196px;
  z-index: 5;
}
.user-name-edit-btn {
  color: #3e80a9;
  cursor: pointer;
  fill: #3e80a9;
  height: 15px;
  margin-top: -7.5px;
  position: absolute;
  right: 0;
  top: 50%;
  vertical-align: middle;
  width: 15px;
}
.user-name-confirm-btn {
  background: transparent;
  border: 0;
  color: #2ad48e;
  font-family: 'GothamPro-Medium-user', sans-serif;
  font-size: 11px;
  padding: 0;
  margin-left: 14px;
  text-transform: uppercase;
}
.user-info-item {
  margin-top: 15px;
}
.user-info-item > .title {
  color: #cbcbcb;
  display: block;
  font-family: 'GothamPro-user', sans-serif;
  font-size: 11px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}
.user-info-item > .value {
  color: #43474d;
  font-family: 'HelveticaNeueCyr-Roman-user', sans-serif;
  font-size: 14px;
  letter-spacing: 0.7px;
  margin-top: 6px;
}
@media (max-width: 480px) {
  .user-info-item {
    margin-top: 10px;
  }
}
.user-statistics {
  flex-basis: 300px;
  flex-grow: 1;
  position: relative;
}
.user-statistics:after,
.user-statistics:before {
  background: #f4f4f4;
  content: '';
  position: absolute;
}
.user-statistics:before {
  bottom: 0;
  left: -1px;
  top: 0;
  width: 1px;
}
.user-statistics:after {
  top: -1px;
  height: 1px;
  left: 0;
  right: 0;
}
@media (max-width: 620px) {
  .user-statistics {
    border-left: none;
    border-top: 1px solid #f4f4f4;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
.user-statistics-col {
  display: inline-block;
  line-height: 1;
  margin-left: 1%;
  vertical-align: top;
  width: 49%;
}
.user-statistics-col:first-child {
  margin-left: 0;
  margin-right: 1%;
}
.user-statistics-col .box-title {
  font-family: 'GothamPro-Medium-user', sans-serif;
}
.user-unsubscribe-link {
  color: #486e7c;
  font-family: 'GothamPro-user', sans-serif;
  font-size: 11px;
  letter-spacing: 0.6px;
  margin-top: 10px;
  text-align: right;
}
.user-unsubscribe-link:hover {
  color: #4186b1;
}
@media (max-width: 480px) {
  .user-unsubscribe-link {
    align-self: flex-start;
  }
}
.user-name-edit-error {
  color: #f05d6e;
  font-size: 11px;
  position: absolute;
  text-align: right;
  top: -23px;
  width: 196px;
}
@media (max-width: 620px) {
  .user-name-edit-error {
    top: 8px;
  }
}
.match-predictions-item {
  align-items: center;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  margin: 15px 0;
  position: relative;
  width: 100%;
}
.match-predictions-item:hover:after {
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  background-color: #f4f4f4;
  bottom: -6px;
  content: '';
  left: -6px;
  position: absolute;
  right: -6px;
  top: -6px;
  z-index: 1;
}
.match-prediction-event {
  align-items: center;
  display: flex;
  position: relative;
  z-index: 3;
}
.match-prediction-event > .date {
  font-family: 'HelveticaNeueCyr-Roman-user', sans-serif;
  font-size: 11px;
  white-space: nowrap;
  width: 67px;
}
@media (max-width: 620px) {
  .match-prediction-event > .date {
    width: 60px;
  }
}
.match-prediction-title {
  border-left: 1px solid #f4f4f4;
  display: table;
  flex-wrap: wrap;
  padding-left: 12px;
}
.match-prediction-team {
  display: table-row;
  font-family: 'HelveticaNeueCyr-Light-user', sans-serif;
  font-size: 14px;
  width: 100%;
}
.match-prediction-team > .name {
  display: table-cell;
  cursor: pointer;
}
.match-prediction-team > .score {
  display: table-cell;
  padding-left: 10px;
}
.match-prediction-team > .score.-bold {
  font-family: 'HelveticaNeueCyr-Medium-user', sans-serif;
}
.match-prediction-title:hover .match-prediction-team .name {
  color: #4186b1;
}
@media (max-width: 620px) {
  .match-prediction-team > .name {
    max-width: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.match-predictions-outcome {
  align-items: center;
  display: flex;
}
.match-predictions-outcome > .event-count {
  font-family: 'HelveticaNeueCyr-Medium-user', sans-serif;
  color: #cbcbcb;
  font-size: 11px;
  min-width: 26px;
  text-align: center;
  z-index: 2;
}
.match-predictions-outcome > .ratio {
  color: #43474d;
  font-family: 'HelveticaNeueCyr-Medium-user', sans-serif;
  font-size: 11px;
  margin: 0 10px;
  text-align: right;
  width: 30px;
  z-index: 2;
}
.match-predictions-outcome > .ratio:hover {
  color: #4186b1;
  cursor: pointer;
}
@media (max-width: 620px) {
  .match-predictions-outcome > .ratio {
    margin-right: 0;
  }
}
.event-count-badge {
  background-color: #eee;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  padding: 6px 10px;
  vertical-align: top;
}
.event-count-badge.win {
  background-color: #7ad42a;
}
.event-count-badge.loss {
  background-color: #f05d6e;
}
.mp-record {
  display: table-cell;
  padding-left: 10px;
  vertical-align: middle;
}
.pr-record-red,
.mp-record-pass {
  display: block;
  height: 10px;
  width: 10px;
}
.pr-record-red {
  background-color: #ed334d;
}
.mp-record-pass {
  background-color: #b3b5bc;
  border-radius: 3px;
  position: relative;
}
.mp-record-pass:after {
  background-color: #fff;
  border-radius: 50%;
  content: '';
  display: block;
  left: 2px;
  height: 6px;
  position: absolute;
  top: 2px;
  width: 6px;
}
.top-predictors-item {
  padding-left: 44px;
  position: relative;
}
.top-predictors-link {
  height: 28px;
  left: 0;
  position: absolute;
  top: 7px;
  width: 28px;
}
.top-predictors-link > .ic {
  display: block;
  height: 100%;
  width: 100%;
}
.top-predictors-detail {
  align-items: center;
  border-bottom: 1px solid #f4f4f4;
  display: flex;
  font-family: 'HelveticaNeueCyr-Light-user', sans-serif;
  font-size: 11px;
  line-height: 28px;
  justify-content: space-between;
  padding: 7px 0;
  width: 100%;
}
.top-predictors-detail .name {
  cursor: pointer;
  display: inline-block;
  font-family: 'HelveticaNeueCyr-Medium-user', sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  width: 55px;
}
.top-predictors-detail .name:hover {
  color: #4186b1;
}
.top-predictors-outcome {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}
.top-predictors-outcome > .count {
  color: #486e7c;
  text-align: right;
  width: 50px;
}
.top-predictors-outcome > .ratio {
  text-align: right;
  width: 32px;
}
.top-predictors-outcome > .persent {
  color: #ccbd1c;
  text-align: right;
  width: 32px;
}
.top-predictors-outcome .count,
.top-predictors-outcome .ratio {
  cursor: pointer;
}
.top-predictors-outcome .count:hover,
.top-predictors-outcome .ratio:hover {
  color: #4186b1;
}
@media (max-width: 920px) {
  .top-predictors-outcome {
    flex-grow: 0;
    flex-basis: 180px;
    justify-content: space-between;
  }
}
@media (max-width: 480px) {
  .top-predictors-outcome {
    flex-grow: 0;
    flex-basis: 130px;
    justify-content: space-between;
  }
}
.userpage-wrapper {
  margin-top: 8px;
}
@media (max-width: 780px) {
  .userpage-wrapper {
    margin-top: 28px;
  }
}
@media (max-width: 480px) {
  .userpage-wrapper {
    margin-top: 8px;
  }
}
@media (max-width: 1200px) {
  .userpage-wrapper {
    flex-wrap: wrap;
  }
}
.userpage-main-container {
  margin-right: 30px;
  flex-basis: 870px;
  /*width: 100%;*/
}
@media (max-width: 1200px) {
  .userpage-main-container {
    flex-basis: 100%;
    margin-right: 0;
  }
}
@media (max-width: 920px) {
  .userpage-main-container {
    margin-right: 0;
  }
}
.userpage-aside-container {
  flex-grow: 1;
}
