doctype html
html(lang='en')
	head
		title MetaScore: 404
		include incl/head
	body.homepage
		include incl/svg
			
		.nm-main-overlay
		//MAIN-WRAPPER BEGIN
		.main-wrapper.fhaf
			include incl/header
			include incl/topbar
			include incl/above_homepage
			
			//GROW BEGIN
			.nm-grow.nm-big-wrapper
				.nm-content-overlay
				
				include incl/404
				
			//GROW END
			include incl/newstape
			include incl/footer
		//MAIN-WRAPPER END
		include incl/modals
		include incl/scripts