doctype html
html(lang='en')
    head
        title MetaScore: team
        include incl/head.pug
    body.homepage
        include incl/svg.pug

        .nm-main-overlay
        //MAIN-WRAPPER BEGIN
        .main-wrapper.cup.tournament.team.player.bmenu.bblock
            include incl/header.pug
            include incl/topbar.pug
            include incl/above_player.pug
            include incl/header-bottom-fixed-player.pug

            //GROW BEGIN
            .nm-grow.nm-big-wrapper
                .nm-content-overlay

                include incl/content_player.pug
                include incl/aside_right_player.pug

            //GROW END
            include incl/newstape.pug
            include incl/footer.pug
        //MAIN-WRAPPER END
        include incl/modals.pug
        include incl/scripts.pug