doctype html
html(lang='en')
    head
        title MetaScore: Sport News Category
        include incl/head.pug
    body.sport-news-category-page
        include incl/svg.pug

        .nm-main-overlay
        //MAIN-WRAPPER BEGIN
        .main-wrapper
            include incl/header.pug
            include incl/topbar.pug
            include incl/above_sports_news.pug

            //BEGIN
            .nm-big-wrapper
                .nm-content-overlay
                include incl/content_sports_news.pug
                //include incl/content_sports_news.pug

            //GROW END
            include incl/footer.pug
        //MAIN-WRAPPER END
        include incl/modals.pug
        include incl/scripts.pug
