doctype html
html(lang='en')
	head
		title MetaScore: terms of service
		include incl/head
	body.terms
		include incl/svg
			
		.nm-main-overlay
		//MAIN-WRAPPER BEGIN
		.main-wrapper.fhaf
			include incl/header
			include incl/topbar
			
			//GROW BEGIN
			.nm-grow.nm-big-wrapper
				.nm-content-overlay
				
				include incl/terms_of_service
				
				
			//GROW END
			include incl/newstape
			include incl/footer
		//MAIN-WRAPPER END
		include incl/modals
		include incl/scripts