//MAIN BEGIN
main
	.pr-main-wrap
		.pr-nopage
			.pr-nopage-left
				img(src="img/icons/football_field.png" alt="404 image")
			.pr-nopage-right
				p.nopage-title 404
				p.nopage-text Oops, looks like it’s wrong field. <br>
					span Please go to home page by button below:
				.pr-nopage-right-btn
					a(href="javascript:void(0)").pr-livescore-btn.pr-btn FOOTBALL LIVESCORE
//MAIN END