//ABOVE CONTENT BLOCK BEGIN
.nm-big-wrapper
	.above-content-block-homepage
		.nm-page-maintext
			h1.nm-h1 Football Livescore
			
		.nm-above-panel
			.nm-above-btns
				a.nm-link-datepicker(href="javascript:void(0)")
					svg.nm-svg(width="11" height="12")
						use(xlink:href="#icon-calendar")
					.nm-text 12 MAR 2017
					
				a.nm-link-all-leagues(href="javascript:void(0)")
					svg.nm-svg(width="9" height="11")
						use(xlink:href="#icon-cup")
					.nm-text  ALL LEAGUES
				
			.nm-above-tabs
				a.nm-link-all.active(href="javascript:void(0)")
					svg.nm-svg(width="13" height="10")
						use(xlink:href="#icon-tab-all")
					.nm-text All
					
				a.nm-link-live(href="javascript:void(0)")
					svg.nm-svg(width="14" height="14")
						use(xlink:href="#icon-tab-live")
					.nm-text Live
					.nm-count 12
//ABOVE CONTENT BLOCK END