//ABOVE CONTENT BLOCK BEGIN
.nm-big-wrapper
    .above-content-snc-page
        .breadcrumbs
            ul
                li
                    a(href="javascript:void(0)") News
                li
                    span ›
                li sport news
        h1 Sports news
//ABOVE CONTENT BLOCK END
