//ABOVE CONTENT BLOCK BEGIN
.nm-big-wrapper
    .above-content-block-homepage
        .nm-content
            ul.nm-breadcrumb
                li
                    a(href='#') news
                li
                    a(href='#') Sports news
                li
                    a(href='#') COPA CATALUNYA: FC BARCELONA VS RCS ESPANYOL MATCH PREVIEW

        //HEADER BLOCK
        .mv-item.main-news
            .main-news__item
                .main-news__banner
                    img(src="img/main-news-bg.jpg")
                .main-news__content.news-item
                    .news-item__header
                        span.news-item__category LALIGA, ROUND 35
                        .date Yesterday
                    .news-item__body
                        a(href="javascript:void(0)").news-item__title Copa Catalunya: FC Barcelona vs RCD Espanyol Match preview
                    .news-item__footer
                        .news-item__author
                            img(src="img/ma/avatar127.png")
                            | By&nbsp;
                            a(href="javascript:void(0)")  Adeline Blesser
                        .news-item__meta
                            ul.meta-list
                                li.meta-item
                                    img.meta-icon(src="img/icons/-e-like-icon.svg" width="12" height="10")
                                    | 23
                                li.meta-item
                                    img.meta-icon(src="img/icons/comment-icon-white.svg" width="12" height="11")
                                    | 3
                    .news-tags
                        a.tags-item(href="javascript:void(0)") OTHER SPORTS

            // END ---- HEADER BLOCK
//ABOVE CONTENT BLOCK END