//ABOVE CONTENT BLOCK BEGIN
.nm-big-wrapper
    .above-wrapper
        .pr-main-wrap.player-profile
            .pr-main
                .pr-profile__left
                    .pr-profile__user-icon
                        img(src="img/temp/photo-player-4.jpg" alt="player-photo")
                    .pr-profile__context
                        .nm-content.pr-profile__mame
                            .nm-page-maintext
                                .nm-page-title
                                    h1.nm-h1 Cristiano Ronaldo
                                .pr-favorite-container.nm-toogle-div.above
                                    a(href='javascript:void(0)').pr-favorite-btn.nm-toggler
                                        i(class='icon-icon-favorite')
                                    .nm-dropdown.pr-dropdown-favorite
                                        ul
                                            li
                                                a(href="javascript:void(0)").pr-remove
                                                    | Remove
                                                    i(class='icon-icon-favorite')
                                            li
                                                a(href="javascript:void(0)").pr-mute
                                                    | Mute this event
                        .pr-profile__about
                            .pr-profile__about_team
                                .pr-profile__team_icon
                                    img(src="./img/icons/badge-real-madrid.png" alt="icon-league")
                                .pr-profile__team_text
                                    .pr-profile__team_team-name
                                        span Real Madrid
                                    .pr-profile__team_contract
                                        span Contract until Jun 30, 2021
                            .pr-profile__about_value
                                .pr-profile__value_text
                                    span Player value
                                .pr-profile__value_price
                                    span 104M €
                .pr-profile__right
                    .pr-profile__skills
                        .pr-profile__skills_col
                            .pr-profile__skills_row
                                .pr-profile__skills_title
                                    span nationality
                                .pr-profile__skills_context
                                    .pr-profile__skills_context-flag
                                    .pr-profile__skills_context-text
                                        span Portugal
                            .pr-profile__skills_row
                                .pr-profile__skills_title
                                    span Preferred foot
                                .pr-profile__skills_context
                                    .pr-profile__skills_context-text
                                        span Both
                        .pr-profile__skills_col
                            .pr-profile__skills_row
                                .pr-profile__skills_title
                                    span Age
                                .pr-profile__skills_context
                                    .pr-profile__skills_context-text
                                        span 32 (5 Feb 1985)
                            .pr-profile__skills_row
                                .pr-profile__skills_title
                                    span Position
                                .pr-profile__skills_context
                                    .pr-profile__skills_context-text
                                        span F
                        .pr-profile__skills_col
                            .pr-profile__skills_row
                                .pr-profile__skills_title
                                    span Height
                                .pr-profile__skills_context
                                    .pr-profile__skills_context-text
                                        span 185 cm
                            .pr-profile__skills_row
                                .pr-profile__skills_title
                                    span Shirt number
                                .pr-profile__skills_context
                                    .pr-profile__skills_context-text
                                        span 7

//ABOVE CONTENT BLOCK END