//ASIDE RIGHT BEGIN
aside.aside-right.aside-right-default.nm-block
    .aside-right-wrapper.block.block1
        .stats
            .s-title
                span stats
                .average-raiting
                    span.raiting-text Avg. rating
                    span.raiting 7.3
            .s-main
                .s-main__dropdown-block(id='statsBlock1')
                    .s-main__dropdown-left
                        .division-dropdown.nm-toogle-div
                            span.division-dropdown-selected.nm-toggler UEFA Super League
                            .division-dropdown-list.nm-dropdown
                                ul
                                    li(data-id='0').active
                                        a Super League
                                    li(data-id='1')
                                        a UEFA Super League
                                    li(data-id='2')
                                        a Super League
                    .s-main__dropdown-right
                        .division-dropdown.nm-toogle-div
                            span.division-dropdown-selected.nm-toggler 2017
                            .division-dropdown-list.nm-dropdown
                                ul
                                    li(data-id='0').active
                                        a 2016
                                    li(data-id='1')
                                        a 2015
                                    li(data-id='2')
                                        a 2014
                .s-main__stats-wrap(id='statsBlock2').bcg-grey
                    .s-main__matches_head
                        span Matches
                    .s-main__matches_content
                        ul
                            li
                                span Total played
                                span 3
                            li
                                span Started
                                span 3
                            li
                                span Minutes per game
                                span 90
                .s-main__stats-wrap(id='statsBlock3')
                    .s-main__matches_head
                        span Goals
                    .s-main__matches_content
                        ul
                            li
                                span Goals
                                span 0
                            li
                                span Goals per game
                                span 0.0
                            li
                                span Shots per game
                                span 0.0
                            li
                                span Big chances missed
                                span 0
                .s-main__stats-wrap(id='statsBlock4').bcg-grey
                    .s-main__matches_head
                        span Passes
                    .s-main__matches_content
                        ul
                            li
                                span Assists
                                span 3
                            li
                                span Accurate per game
                                span 21.0
                                    span.italic  (86%)
                            li
                                span Big chances created
                                span 1
                .s-main__stats-wrap(id='statsBlock5')
                    .s-main__matches_head
                        span Defending
                    .s-main__matches_content
                        ul
                            li
                                span Interceptions per game
                                span 1.7
                            li
                                span Tackles per game
                                span 1.7
                            li
                                span Clearances per game
                                span 6.7
                            li
                                span Error led to goal
                                span 0
                .s-main__stats-wrap(id='statsBlock6').bcg-grey
                    .s-main__matches_head
                        span Other (per game)
                    .s-main__matches_content
                        ul
                            li
                                span Succ. dribbles
                                span 0.0 (0%)
                            li
                                span Duels won
                                span 3.7
                                    span.italic  (55%)
                            li
                                span Dispossessed
                                span 0.0
                            li
                                span Fouls
                                span 1.7
                            li
                                span Was fouled
                                span 0.3
                .s-main__stats-wrap(id='statsBlock7')
                    .s-main__matches_head
                        span Cards
                    .s-main__matches_content
                        ul
                            li
                                span Yellow
                                span 3
                            li
                                span Yellow-Red
                                span 0
                            li
                                span Red
                                span 1
    .aside-right-wrapper.block.block2
        .media
            .s-title videos
            .odds
                .odds__left
                    a(href='#')
                        img(src='img/ma/media-video-example.jpg' alt="img")
                .odds__right
                    a(href='#') Arsenal de Sarandi 1-2 Atletico Rafaela
                    div Full highlights
            .odds
                .odds__left
                    a(href='#')
                        img(src='img/ma/media-video-example.jpg' alt="img")
                .odds__right
                    a(href='#') Arsenal de Sarandi 1-2 Atletico Rafaela long description...
                    div Full highlights