//ASIDE RIGHT BEGIN
aside.aside-right.aside-right-default.nm-block

	.aside-right-wrapper.match
		.match__header.s-title Featured match
		.match__body
			a(href='javascript:void(0)').event__link.cell
				.cell__section.match__team
					.cell__content
						img(src="img/ma/juventus.png" alt='juventus')
						div Juventus
				.cell__section.match-time-wrap
					.cell__content.match-time
						div 22:00
						div Today
				.cell__section.match__team
					.cell__content
						img(src="img/ma/millan.png" alt='millan')
						div Milan
			.match__odds.odds
				.odds__left Odds
				.odds__right
					a(href='javascript:void(0)' class='odds__value up') 2.90
					a(href='javascript:void(0)' class='odds__value down') 3.25
					a(href='javascript:void(0)' class='odds__value up') 2.70
		.match__footer
			a(href='javascript:void(0)') Sponsored by
				img(src="img/ma/sponsor.png" alt='sponsor')


	.aside-right-wrapper.nm-aside-slider-overwrap
		.aside-slider__wrap

			.nm-slide-wrap
				.aside-slider(style="background-image: url('img/ma/news_right.jpg')")
					.aside-slider__body
						.aside-slider__header Europa league news
						.aside-slider__title Pitch imperfect: Mourhino’s United held 1:1 in Rostov-on-Don
						.aside-slider__description Man United boss Jose Mourinho has hailed his ‘fighters’ for registering an away draw in tough conditions in Russia on Thursday.
					.aside-slider__footer
						.aside-slider__date 11.03.07
				
			.nm-slide-wrap
				.aside-slider(style="background-image: url('img/ma/news_right.jpg')")
					.aside-slider__body
						.aside-slider__header Europa league news
						.aside-slider__title Pitch imperfect: Mourhino’s United held 1:1 in Rostov-on-Don
						.aside-slider__description Man United boss Jose Mourinho has hailed his ‘fighters’ for registering an away draw in tough conditions in Russia on Thursday.
					.aside-slider__footer
						.aside-slider__date 11.03.07
						
			.nm-slide-wrap
				.aside-slider(style="background-image: url('img/ma/news_right.jpg')")
					.aside-slider__body
						.aside-slider__header Europa league news
						.aside-slider__title Pitch imperfect: Mourhino’s United held 1:1 in Rostov-on-Don
						.aside-slider__description Man United boss Jose Mourinho has hailed his ‘fighters’ for registering an away draw in tough conditions in Russia on Thursday.
					.aside-slider__footer
						.aside-slider__date 11.03.07
						
			.nm-slide-wrap
				.aside-slider(style="background-image: url('img/ma/news_right.jpg')")
					.aside-slider__body
						.aside-slider__header Europa league news
						.aside-slider__title Pitch imperfect: Mourhino’s United held 1:1 in Rostov-on-Don
						.aside-slider__description Man United boss Jose Mourinho has hailed his ‘fighters’ for registering an away draw in tough conditions in Russia on Thursday.
					.aside-slider__footer
						.aside-slider__date 11.03.07


	.aside-right-wrapper.match.odds__wrap
		.match__header.s-title Featured odds
		.match__body
			.match__odds.odds
				.odds__left
					.odds__left-top 12:00
					.odds__left-bottom
						a(href='javascript:void(0)')
							div Kashima Antlers
							div Brisbane Roar
				.odds__right
					.odds__right-top
						div 1
						div Х
						div 2
					.odds__right-bottom
						a(href='javascript:void(0)' class='odds__value up') 2.90
						a(href='javascript:void(0)' class='odds__value down') 3.25
						a(href='javascript:void(0)' class='odds__value up') 2.70
			.match__odds.odds
				.odds__left
					.odds__left-top 14:00
					.odds__left-bottom
						a(href='#')
							div Spartak Moscow
							div Orienburg
				.odds__right
					.odds__right-top
						div 1
						div Х
						div 2
					.odds__right-bottom
						a(href='javascript:void(0)' class='odds__value up') 2.90
						a(href='javascript:void(0)' class='odds__value down') 3.25
						a(href='javascript:void(0)' class='odds__value up') 2.70
			.match__odds.odds
				.odds__left
					.odds__left-top 14:00
					.odds__left-bottom
						a(href='javascript:void(0)')
							div FC rostov
							div FK Krasnodar
				.odds__right
					.odds__right-top
						div 1
						div Х
						div 2
					.odds__right-bottom
						a(href='javascript:void(0)' class='odds__value up') 2.90
						a(href='javascript:void(0)' class='odds__value down') 3.25
						a(href='javascript:void(0)' class='odds__value up') 2.70
			.match__odds.odds
				.odds__left
					.odds__left-top 16:30
					.odds__left-bottom
						a(href='javascript:void(0)')
							div Sevilla Atletico
							div Numanica CD
				.odds__right
					.odds__right-top
						div 1
						div Х
						div 2
					.odds__right-bottom
						a(href='javascript:void(0)' class='odds__value up') 2.90
						a(href='javascript:void(0)' class='odds__value down') 3.25
						a(href='javascript:void(0)' class='odds__value up') 2.70
			.match__odds.odds
				.odds__left
					.odds__left-top 17:00
					.odds__left-bottom
						a(href='javascript:void(0)')
							div Inter
							div Sampdoria
				.odds__right
					.odds__right-top
						div 1
						div Х
						div 2
					.odds__right-bottom
						a(href='javascript:void(0)' class='odds__value up') 2.90
						a(href='javascript:void(0)' class='odds__value down') 3.25
						a(href='javascript:void(0)' class='odds__value up') 2.70
		.match__footer
			a(href='javascript:void(0)') Sponsored by
				img(src="img/ma/sponsor.png" alt='sponsor')
	.aside-right-wrapper
		a.nm-promo-app(href="javascript:void(0)")
			.nm-promo-top
				.nm-promo-caption Sofascore on your phone!
				
			.nm-promo-bottom
				ul.nm-promo-list
					li Player ratings
					li Video highlights
					li Heat map
					
				.nm-promo-btns
					img(src="img/icons/btn-google-play.svg" alt="google-play" width="113" height="34")
					img(src="img/icons/btn-appstore.svg" alt="appstore" width="109" height="31")
					img(src="img/icons/btn-microsoft.svg" alt="microsoft" width="103" height="36")
			
	.aside-right-wrapper
		.banner
			p Banner 270x270
//ASIDE RIGHT END