//SNC(Sport News Category) CONTENT BEGIN
main.snc-main-wrapper
    .mv-item.r-sidebar
        aside
            .widget.widget__most-read
                .widget__title MOST READ
                .widget__content
                    ul.news-list
                        -for(var k=0; k<6; k++) {
                        li.news-item
                            a(href="javascript:void(0)").news-item__link
                                .news-item__header
                                    .news-item__category LALIGA, ROUND 35
                                    .date April 28
                                .news-item__body
                                    .news-item__title Espanyol vs Barcelona – Match Preview, team news & lineups
                                .news-item__footer
                                    .news-item__author
                                        img(src="img/temp/news-avatar-1.png" alt="avata img")
                                        span Luke Skywalker
                                    .news-item__meta
                                        ul.meta-list
                                            li.meta-item
                                                img.meta-icon(src="img/icons/icon-like-grey.svg" alt="icon like" width="8" height="7")
                                                | 23
                                            li.meta-item
                                                svg.nm-svg.like-icon(width="8" height="7")
                                                    use(xlink:href="#icon-comment-xs")
                                                | 10
                        -}
        aside
            .widget.widget__facebook
                img(src="img/facebook-banner.jpg" alt="Facebook Banner")
        aside
            .widget.widget__twitter
                .widget__title.block-twitter__title
                    a.block-twitter__title-link(href="javascript:void(0)")
                        .twitter-site-logo
                            img(src="img/logo.svg" alt="Logo" width="17" height="20")
                        span SofaScore
                    .twitter-logo
                        img(src="img/icons/twitter-icon.svg" alt="Twitter Logo" width="18" height="15")
                .widget__content
                    ul.twitter-list
                        -for(var i=0; i<5; i++) {
                        li.twitter-item
                            .twitter-item__content Confirmed lineups for &nbsp;
                                a(href="javascript:void(0)") #RealMadridAtletico
                                |  Isco starts for Real Madrid, Savic has to cover right-back for Atletico!
                                .twitter-item__tags
                                    a(href="javascript:void(0)") #UCL
                                    a(href="javascript:void(0)")  #RMAATL
                                a(href="javascript:void(0)")
                                    img.twitter-item__img(src="img/field-with-players.jpg" alt="Stadium with " +
                                    "players " +
                                    "position")
                            .twitter-item__footer
                                ul.meta-list
                                    li.meta-item
                                        img.meta-icon(src="img/icons/icon-like-grey.svg" alt="icon like" width="8" height="7")
                                        | 23
                                    li.meta-item
                                        .date April 28
                        -}
    //MAIN NEWS CONTENT
    .mv-item.main-news
        .main-news__item
            .main-news__banner
                img(src="img/main-news-bg.jpg" alt="news background")
            .main-news__content.news-item
                .news-item__header
                    span.news-item__category LALIGA, ROUND 35
                    .date Yesterday
                .news-item__body
                    a(href="javascript:void(0)").news-item__title Espanyol vs Barcelona – Match Preview, team news
                .news-item__footer
                    .news-item__author
                        img(src="img/ma/avatar127.png" alt="avatar photo")
                        | By&nbsp;
                        a(href="javascript:void(0)")  Adeline Blesser
                    .news-item__meta
                        ul.meta-list
                            li.meta-item
                                img.meta-icon(src="img/icons/-e-like-icon.svg" alt="icon like" width="12" height="10")
                                | 23
                            li.meta-item
                                img.meta-icon(src="img/icons/comment-icon-white.svg" alt="icon comment" width="12" height="11")
                                | 10
                .news-tags
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS
                    a.tags-item(href="javascript:void(0)") OTHER SPORTS

    // END ---- MAIN NEWS CONTENT

    .mv-item__content-rap
        //SEVERAL NEWS CONTENT
        .mv-item.content
            .news-grid
                -for(var i=0; i<3; i++) {
                .col-lg-4.col-md-6.col-sm-12
                    .news-grid__item.news-item
                        .news-item__banner
                            - if(i==0) {
                            img(src="img/temp/news-background-3.jpg" alt="news background")
                            - }
                            - if(i==1) {
                            //img(style="display: none;")
                            - }
                            - if(i==2) {
                            img(src="img/temp/news-background-2.png" alt="news background")
                            - }
                        a.news-item__content(href="javascript:void(0)")
                            - if(i==0) {
                            .news-item__header
                                span.news-item__category CHAMPIONS LEAGUE ROUND OF 16
                                .date 11.03.17
                            - }
                            - if(i==1) {
                            .news-item__header
                                span.news-item__category CHELTENHAM FESTIVAL 2017
                                .date 10.03.17
                            - }
                            - if(i==2) {
                            .news-item__header
                                span.news-item__category PREMIER LEAGUE NEWS
                                .date 10.03.17
                            - }
                            .news-item__body
                                - if(i==0) {
                                span.news-item__title Leicester City vs Sevilla – Match preview, team news & predicted lineups
                                - }
                                - if(i==1) {
                                span.news-item__title Cheltenham Festival: Day One Preview
                                - }
                                - if(i==2) {
                                span.news-item__title Premier League- SofaScore Team of the Week
                                - }
                                .news-tags
                                    - if(i==0) {
                                    span.tags-item football
                                    span.tags-item match previews
                                    span.tags-item UFA CHAMPIONS LEAGUE
                                    - }
                                    - if(i==1) {
                                    span.tags-item other sport
                                    - }
                                    - if(i==2) {
                                    span.tags-item TEAM OF WEEK
                                    - }

                        .news-item__footer
                            - if(i==0) {
                            .news-item__author
                                img(src="img/temp/news-avatar-0.png" alt="avatar news img")
                                a Odry Hepbern
                            .news-item__meta
                                ul.meta-list
                                    li.meta-item
                                        img.meta-icon(src="img/icons/icon-like-grey.svg" alt='acon like' width="12" height="10")
                                        | 23
                                    li.meta-item
                                        img.meta-icon(src="img/icons/comment-icon.svg" alt="icon comment" width="12" height="10")
                                        | 10
                            - }
                            - if(i==1) {
                            .news-item__author
                                img(src="img/temp/news-avatar-1.png" alt="icon avatar")
                                a Luke Skywalker
                            .news-item__meta
                                ul.meta-list
                                    li.meta-item
                                        img.meta-icon(src="img/icons/icon-like-grey.svg" alt="icon like" width="12" height="10")
                                        | 23
                                    li.meta-item
                                        img.meta-icon(src="img/icons/comment-icon.svg" alt="icon comment" width="12" height="10")
                                        | 1
                            - }
                            - if(i==2) {
                            .news-item__author
                                img(src="img/temp/news-avatar-1.png" alt="icon avatar")
                                a Luke Skywalker
                            .news-item__meta
                                ul.meta-list
                                    li.meta-item
                                        img.meta-icon(src="img/icons/icon-like-grey.svg" alt="icon like" width="12" height="10")
                                        | 3
                                    li.meta-item
                                        img.meta-icon(src="img/icons/comment-icon.svg" alt="icon comment" width="12" height="10")
                                        | 10
                            - }

                -}
                .news-grid__link
                    a(href='#') More Sports News
        // END ---- SEVERAL NEWS CONTENT

        //SLIDER SEVERAL NEWS CONTENT
        .mv-item.main-title
            h2 Match previews
        .mv-item.content.slider-wrap
            .news-grid.news-slider
                - for ( var i = 0; i < 9; i++ ){
                .news-grid__item.news-item
                    .news-item__banner
                        img(src='img/temp/news-background-2.png' alt="news background")
                    a.news-item__content
                        .news-item__header
                            - if ( i == 0 || i ==3 || i ==6  ){
                            span.news-item__category
                                | Bundersliga, round 31
                            - }
                            - if ( i == 1 || i ==4 || i ==7 ){
                            span.news-item__category
                                | Serie a, round 34
                            - }
                            - if ( i == 2 || i ==5 || i ==8 ){
                            span.news-item__category
                                | LALA liga, round 34
                            - }
                            .date 11.03.17
                        .news-item__body
                            - if ( i == 0 || i ==3 || i ==6 ){
                            span.news-item__title
                                | Wolfsburg vs Bayern Munchen: Match preview, team info and lineups
                            - }
                            - if ( i == 1 || i ==4 || i ==7 ){
                            span.news-item__title
                                | Atalanta vs Juventus: Match preview, team info and lineups
                            - }
                            - if ( i == 2 || i ==5 || i ==8 ){
                            span.news-item__title
                                | Barcelona vs Osasuna: Match preview, team news & lineups
                            - }
                    .news-item__footer
                        .news-item__author
                            img(src='img/temp/news-avatar-1.png' alt="avatar img")
                            a Luke Skywalker
                        .news-item__meta
                            ul.meta-list
                                li.meta-item
                                    img.meta-icon(src="img/icons/icon-like-grey.svg" alt="icon like" width="12" height="10")
                                    | 3
                                li.meta-item
                                    img.meta-icon(src="img/icons/comment-icon.svg" alt="icon comments" width="12" height="10")
                                    | 10

                - }
            .news-grid__link
                a(href='#') More Match previews
        // END ---- SLIDER SEVERAL NEWS CONTENT

        //FUN NEWS CONTENT
        .mv-item.main-title
            h2 Fun News
        .mv-item.main-news.fun-news
            .main-news__item
                .main-news__banner
                    img(src="img/main-news-bg.jpg" alt="news background")
                .main-news__content.news-item
                    .news-item__header
                        span.news-item__category
                        .date 2 days ago
                    .news-item__body
                        a(href="javascript:void(0)").news-item__title VIDEO: Ashley Young and Jesse Lingard prank Paul Pogba
                    .news-item__footer
                        .news-item__author
                            img(src="img/temp/news-avatar-2.png" alt="avatar img")
                            | By&nbsp;
                            a(href="javascript:void(0)")  Adeline Blesser
                        .news-item__meta
                            ul.meta-list
                                li.meta-item
                                    img.meta-icon(src="img/icons/-e-like-icon.svg" alt="icon like" width="12" height="10")
                                    | 23
                                li.meta-item
                                    img.meta-icon(src="img/icons/comment-icon-white.svg" alt="icon comment" width="12" height="11")
                                    | 10
                    .news-tags
                        a.tags-item(href="javascript:void(0)") VIDEOS
                        a.tags-item(href="javascript:void(0)") FUN

        // END ---- FUN NEWS CONTENT

        //SEVERAL NEWS CONTENT
        .mv-item.content
            .news-grid
                -for(var i=0; i<3; i++) {
                .col-lg-4.col-md-6.col-sm-12
                    .news-grid__item.news-item
                        .news-item__banner
                            - if(i==0) {
                            img(src="img/temp/news-background-3.jpg" alt="news background")
                            - }
                            - if(i==1) {
                            //img(style="display: none;")
                            - }
                            - if(i==2) {
                            img(src="img/temp/news-background-2.png" alt="news background")
                            - }
                        a.news-item__content(href="javascript:void(0)")
                            - if(i==0) {
                            .news-item__header
                                span.news-item__category CHAMPIONS LEAGUE ROUND OF 16
                                .date 11.03.17
                            - }
                            - if(i==1) {
                            .news-item__header
                                span.news-item__category CHELTENHAM FESTIVAL 2017
                                .date 10.03.17
                            - }
                            - if(i==2) {
                            .news-item__header
                                span.news-item__category PREMIER LEAGUE NEWS
                                .date 10.03.17
                            - }
                            .news-item__body
                                - if(i==0) {
                                span.news-item__title Leicester City vs Sevilla – Match preview, team news & predicted lineups
                                - }
                                - if(i==1) {
                                span.news-item__title Cheltenham Festival: Day One Preview
                                - }
                                - if(i==2) {
                                span.news-item__title Premier League- SofaScore Team of the Week
                                - }
                                .news-tags
                                    - if(i==0) {
                                    span.tags-item football
                                    span.tags-item match previews
                                    span.tags-item UFA CHAMPIONS LEAGUE
                                    - }
                                    - if(i==1) {
                                    span.tags-item other sport
                                    - }
                                    - if(i==2) {
                                    span.tags-item TEAM OF WEEK
                                    - }

                        .news-item__footer
                            - if(i==0) {
                            .news-item__author
                                img(src="img/temp/news-avatar-0.png" alt="icon avatar")
                                a Odry Hepbern
                            .news-item__meta
                                ul.meta-list
                                    li.meta-item
                                        img.meta-icon(src="img/icons/icon-like-grey.svg" alt="icon like" width="12" height="10")
                                        span 23
                                    li.meta-item
                                        img.meta-icon(src="img/icons/comment-icon.svg" alt="icon comments" width="12" height="10")
                                        span 10
                            - }
                            - if(i==1) {
                            .news-item__author
                                img(src="img/temp/news-avatar-1.png" alt="icon avatar")
                                a Luke Skywalker
                            .news-item__meta
                                ul.meta-list
                                    li.meta-item
                                        img.meta-icon(src="img/icons/icon-like-grey.svg" alt="icon like" width="12" height="10")
                                        | 23
                                    li.meta-item
                                        img.meta-icon(src="img/icons/comment-icon.svg" alt="icon comments" width="12" height="10")
                                        | 1
                            - }
                            - if(i==2) {
                            .news-item__author
                                img(src="img/temp/news-avatar-1.png" alt="icon avatar")
                                a Luke Skywalker
                            .news-item__meta
                                ul.meta-list
                                    li.meta-item
                                        img.meta-icon(src="img/icons/icon-like-grey.svg" alt="icon like" width="12" height="10")
                                        | 3
                                    li.meta-item
                                        img.meta-icon(src="img/icons/comment-icon.svg" alt="icon comments" width="12" height="10")
                                        | 10
                            - }

                -}
                .news-grid__link
                    a(href='#') More Sports News
            // END ---- SEVERAL NEWS CONTENT
//SNC CONTEND END