//MAIN BEGIN
main
	.app-promo-main
		.app-promo-box
			.app-promo-left
				.ap-links-box
					a.ap-logo(href="javascript:void(0)")
						img(src="img/logo.svg" alt="logo" width="17" height="18")
					a.ap-link(href="javascript:void(0)") SOFASCORE.com
				p.ap-title Fixtures, results and Player Ratings
					br
					span with the SofaScore app
				ul.ap-list
					li Video highlights
					li Push notifications
					li Player heatmap and ratings
				.ap-social
					a(href="javascript:void(0)")
						img(src="img/icons/btn-google-play.svg" width="113" height="34" alt="google-play")
					a(href="javascript:void(0)")
						img(src="img/icons/btn-appstore.svg" width="123" height="34" alt="appstore")
					a(href="javascript:void(0)")
						img(src="img/icons/btn-microsoft.svg" width="98" height="34" alt="microsoft")
			.app-promo-right
				img(src="img/application-mockup.png" alt="application-mockup")
		.app-promo-scores
			.scores-left
				img(src="img/application-mockup2.png" alt="application-mockup2")
			.scores-right
				p.title Sports scores<br> fast and accurate
				p.text Whether a goal is scored, red card issued, set or period is over, you will know at the same time as the live audience.
		.app-promo-no-more
			p.title No more missed matches<br> or updates
			p.text Follow only your favourite matches, teams or competitions, and set the<br> notifications according to your preferences. The followed content across the<br> web, mobile and tablet versions all sync automatically.
			img(src="img/application-mockup3.png" alt="application-mockup3")
		.app-promo-tablet
			.tablet-left
				p.title Tables and match details
				p.text Stay up-to-date with LIVE text commentary, LIVE tables, draws or H2H stats. You can also monitor the course of your selected matches second by second.
			.tablet-right
				img.dek(src="img/application-mockup4.png" alt="application-mockup4")
				img.mob(src="img/application-mockup4_mob.png" alt="application-mockup4")
		.app-promo-joing
			p.title Join 27m+ sports fans who have already<br> downloaded our app for free.
			.ap-social
				a(href="javascript:void(0)")
					img(src="img/icons/btn-google-play.svg" width="113" height="34" alt="google-play")
				a(href="javascript:void(0)")
					img(src="img/icons/btn-appstore.svg" width="123" height="34" alt="appstore")
				a(href="javascript:void(0)")
					img(src="img/icons/btn-microsoft.svg" width="98" height="34" alt="microsoft")
