//MAIN BEGIN
main
	.breadcrumbs
		ul
			li
				a(href="javascript:void(0)") News
			li 
				span ›
			li FAQ
	.top-block 
		.inner 			
			.title FAQ
			p
				a(href="javascript:void(0)" data-remodal-target="contact_us") Contact us
				If you haven’t found what you was looking for.
			form 
				input.zoom(type="submit" value="search")
				input.help(type="text" placeholder="SEARCH IN HELP" required)

	.bottom-block 
		.inner
			.half
				
				//Big Row 

				.title User Account	
				//  F A Q    R O W    User  Account 1 
				.item
					.arrow
						span
							svg.nm-svg(width="8" height="10")
								use(xlink:href="#icon-caret-right")
						aside I’ve restored my phone, logged in to SofaScore and now the ads are back, why?
					.answer Settings are left to be device specific and they are not synced with user account.

				//  F A Q    R O W    User  Account 2 
				.item
					.arrow
						span
							svg.nm-svg(width="8" height="10")
								use(xlink:href="#icon-caret-right")
						aside How to transfer the data from unsupported “Twitter account” to another type of account?
					.answer Settings are left to be device specific and they are not synced with user account.

				//  F A Q    R O W    User  Account 3 
				.item
					.arrow
						span
							svg.nm-svg(width="8" height="10")
								use(xlink:href="#icon-caret-right")
						aside How can I login to SofaScore?
					.answer Settings are left to be device specific and they are not synced with user account.

				//  F A Q    R O W    User  Account 4 
				.item
					.arrow
						span
							svg.nm-svg(width="8" height="10")
								use(xlink:href="#icon-caret-right")
						aside What’s the purpose of user account on SofaScore?
					.answer Settings are left to be device specific and they are not synced with user account.

				//  F A Q    R O W    User  Account 5 
				.item
					.arrow
						span
							svg.nm-svg(width="8" height="10")
								use(xlink:href="#icon-caret-right")
						aside Which platforms can be synced with SofaScore?
					.answer Settings are left to be device specific and they are not synced with user account.

				//  F A Q    R O W    User  Account 6 
				.item
					.arrow
						span
							svg.nm-svg(width="8" height="10")
								use(xlink:href="#icon-caret-right")
						aside What data is synced with user account?
					.answer Settings are left to be device specific and they are not synced with user account.

				//  F A Q    R O W    User  Account 7 
				.item
					.arrow
						span
							svg.nm-svg(width="8" height="10")
								use(xlink:href="#icon-caret-right")
						aside What isn’t synced?
					.answer Settings are left to be device specific and they are not synced with user account.

				.paddcontent
				//Big Row 

			
				.right-column
					.title General
					//  F A Q    R O W   General 1 
					.item
						.arrow
							span
								svg.nm-svg(width="8" height="10")
									use(xlink:href="#icon-caret-right")
							aside Why don’t you support a specific league or country?
						.answer Settings are left to be device specific and they are not synced with user account.

					//  F A Q    R O W   General 2 
					.item
						.arrow
							span
								svg.nm-svg(width="8" height="10")
									use(xlink:href="#icon-caret-right")
							aside SofaScore player ratings explained
						.answer Settings are left to be device specific and they are not synced with user account.

					//  F A Q    R O W   General 3 
					.item
						.arrow
							span
								svg.nm-svg(width="8" height="10")
									use(xlink:href="#icon-caret-right")
							aside How do you calculate rank for “Top predictors”?
						.answer Settings are left to be device specific and they are not synced with user account.

					//  F A Q    R O W   General 4 
					.item
						.arrow
							span
								svg.nm-svg(width="8" height="10")
									use(xlink:href="#icon-caret-right")
							aside When will you add new sports?
						.answer Settings are left to be device specific and they are not synced with user account.

					//  F A Q    R O W   General 5 
					.item
						.arrow
							span
								svg.nm-svg(width="8" height="10")
									use(xlink:href="#icon-caret-right")
							aside What does status FRO mean?
						.answer Settings are left to be device specific and they are not synced with user account.

					//  F A Q    R O W   General 6 
					.item
						.arrow
							span
								svg.nm-svg(width="8" height="10")
									use(xlink:href="#icon-caret-right")
							aside Can you change the outdated/wrong name of my favorite team?
						.answer Settings are left to be device specific and they are not synced with user account.

					.paddcontent
					//Big Row 

				.title Windows Phone
				//  F A Q    R O W   Windows Phone 1 
				.item
					.arrow
						span
							svg.nm-svg(width="8" height="10")
								use(xlink:href="#icon-caret-right")
						aside SofaScore updates for Windows Phone and Windows 10 Mobile platforms
					.answer Settings are left to be device specific and they are not synced with user account.

				//  F A Q    R O W   Windows Phone 2 
				.item
					.arrow
						span
							svg.nm-svg(width="8" height="10")
								use(xlink:href="#icon-caret-right")
						aside SofaScore still offers a lot to Windows Phone users
					.answer Settings are left to be device specific and they are not synced with user account.

				
				.paddcontent

				//Big Row 

				.right-column
					.title Android 
					//  F A Q    R O W   Android  1 
					.item
						.arrow
							span
								svg.nm-svg(width="8" height="10")
									use(xlink:href="#icon-caret-right")
							aside Notifications don’t work on Huawei devices
						.answer Settings are left to be device specific and they are not synced with user account.

					//  F A Q    R O W   Android  2 
					.item
						.arrow
							span
								svg.nm-svg(width="8" height="10")
									use(xlink:href="#icon-caret-right")
							aside Notifications don’t work on Samsung devices
						.answer Settings are left to be device specific and they are not synced with user account.

					//  F A Q    R O W   Android  3 
					.item
						.arrow
							span
								svg.nm-svg(width="8" height="10")
									use(xlink:href="#icon-caret-right")
							aside Notifications don’t work on Wiko devices
						.answer Settings are left to be device specific and they are not synced with user account.

					//  F A Q    R O W   Android  4 
					.item
						.arrow
							span
								svg.nm-svg(width="8" height="10")
									use(xlink:href="#icon-caret-right")
							aside How to change app language?
						.answer Settings are left to be device specific and they are not synced with user account.

					//  F A Q    R O W   Android  5 
					.item
						.arrow
							span
								svg.nm-svg(width="8" height="10")
									use(xlink:href="#icon-caret-right")
							aside Time is wrong and I can’t change it. Why?
						.answer Settings are left to be device specific and they are not synced with user account.

					//  F A Q    R O W   Android  6 
					.item
						.arrow
							span
								svg.nm-svg(width="8" height="10")
									use(xlink:href="#icon-caret-right")
							aside Text-to-speech (voice notifications) do not work properly, why?
						.answer Settings are left to be device specific and they are not synced with user account.

					//  F A Q    R O W   Android  7 
					.item
						.arrow
							span
								svg.nm-svg(width="8" height="10")
									use(xlink:href="#icon-caret-right")
							aside I can’t see widget on my list, why?
						.answer Settings are left to be device specific and they are not synced with user account.

					//  F A Q    R O W   Android  8 
					.item
						.arrow
							span
								svg.nm-svg(width="8" height="10")
									use(xlink:href="#icon-caret-right")
							aside Text-to-speech (voice notifications) do not work properly, why?
						.answer Why does the app need these permissions?

					.paddcontent
				
				//Big Row 

				.title Chat
				//  F A Q    R O W   Chat 1 
				.item
					.arrow
						span
							svg.nm-svg(width="8" height="10")
								use(xlink:href="#icon-caret-right")
						aside I don’t want to use my full name in chat. How can I change the nickname?
					.answer Settings are left to be device specific and they are not synced with user account.

				//  F A Q    R O W   Chat 2 
				.item
					.arrow
						span
							svg.nm-svg(width="8" height="10")
								use(xlink:href="#icon-caret-right")
						aside Why am I seeing Error -53? What can I do about it?
					.answer Settings are left to be device specific and they are not synced with user account.				
		
				.paddcontent 			


			.half.right

		.paddcontent 			
		
//MAIN END