//HEADER BOTTOM BEGIN
.nm-header-bottom
    .nm-big-wrapper
        nav.nm-menu-content
            ul
                li(data-tab='progress,league-md.league-sm').summary-btn.active.test
                    .nm-menu-icon
                    .nm-menu-text summary
                li(data-tab='league-standing,matches-sm,draw-wrap').standings-btn.test
                    .nm-menu-icon
                    .nm-menu-text standings
                li(data-tab='top-scores-md,block1').team-btn.test
                    .nm-menu-icon
                    .nm-menu-text top scores
                li(data-tab='top-scores-md,block2').media-btn.test
                    .nm-menu-icon
                    .nm-menu-text media