//HEADER BOTTOM BEGIN
.nm-header-bottom
    .nm-big-wrapper
        nav.nm-menu-content
            ul
                li(data-tab='player-profile,transfers,player-skills,position').summary-btn.active
                    .nm-menu-icon
                    .nm-menu-text summary
                li(data-tab='player-skills,media-wrap').media-btn
                    .nm-menu-icon
                    .nm-menu-text media
                li(data-tab='stats-wrap').stats-btn
                    .nm-menu-icon
                    .nm-menu-text stats
                li(data-tab='player-skills,attributes ,props').props-btn
                    .nm-menu-icon
                    .nm-menu-text props
                li(data-tab='matches-sm').matches-btn
                    .nm-menu-icon
                    .nm-menu-text matches