//HEADER BOTTOM BEGIN
.nm-header-bottom
    .nm-big-wrapper
        nav.nm-menu-content
            ul
                li(data-tab='mobile,block1,block2,block3').summary-btn.active
                    .nm-menu-icon
                    .nm-menu-text summary
                li(data-tab='matches-sm,league-standing').standings-btn
                    .nm-menu-icon
                    .nm-menu-text matches
                li(data-tab='mobile,mobile .players,block4').team-btn
                    .nm-menu-icon
                    .nm-menu-text team
                li(data-tab='mobile,block5').media-btn
                    .nm-menu-icon
                    .nm-menu-text media
                li(data-tab='about').about-btn
                    .nm-menu-icon
                    .nm-menu-text about