//HEADER BOTTOM BEGIN
.nm-header-bottom
    .nm-big-wrapper
        nav.nm-menu-content
            ul
                li(data-tab='aside-center,video-stream,lineups,winnings,streaks').details-btn.active
                    .nm-menu-icon
                    .nm-menu-text details
                li(data-tab='league-standing').standings-btn
                    .nm-menu-icon
                    .nm-menu-text standings
                li(data-tab='matches-block,hth').matches-btn
                    .nm-menu-icon
                    .nm-menu-text matches
//HEADER BOTTOM END