//leagues BEGIN
.leagues-block.leagues
	.leagues__wrap.leagues__top
		.leagues__title.s-title.
			TOP Leagues
		ul.leagues__list.nm-scroll-area
			li.leagues__item
				a(class='leagues__link' href='javascript:void(0)')
					div
						div(class='icn icon-world-icon')
						| World
					div.leagues__number 
						span.pr-lighter 2
						| /16
				ul.leagues__sublist
					li
						a(href='javascript:void(0)' class='leagues__link')
							div PremierLeague
							div.leagues__number 4
					li
						a(href='javascript:void(0)' class='leagues__link')
							div King of Bahrain Cup
							div.leagues__number
					li
						a(href='javascript:void(0)' class='leagues__link')
							div All
							div.leagues__number
			li.leagues__item
				a(class='leagues__link' href='javascript:void(0)')
					div
						div(class='icn icon-europe')
						| Europe
					div.leagues__number
						span.pr-lighter 1
						| /5
				ul.leagues__sublist
					li
						a(href='javascript:void(0)' class='leagues__link')
							div PremierLeague
							div.leagues__number 4
					li
						a(href='javascript:void(0)' class='leagues__link')
							div King of Bahrain Cup
							div.leagues__number
					li
						a(href='javascript:void(0)' class='leagues__link')
							div All
							div.leagues__number
			li.leagues__item
				a(class='leagues__link' href='javascript:void(0)')
					div
						div(class='icn icon-south-america')
						| South America
					div.leagues__number 2
				ul.leagues__sublist
					li
						a(href='javascript:void(0)' class='leagues__link')
							div PremierLeague
							div.leagues__number 4
					li
						a(href='javascript:void(0)' class='leagues__link')
							div King of Bahrain Cup
							div.leagues__number
					li
						a(href='javascript:void(0)' class='leagues__link')
							div All
							div.leagues__number
			li.leagues__item
				a(class='leagues__link' href='javascript:void(0)')
					div
						div(class='icn icon-asia')
						| Asia
					div.leagues__number
						span.pr-lighter 1
						| /6
				ul.leagues__sublist
					li
						a(href='javascript:void(0)' class='leagues__link')
							div PremierLeague
							div.leagues__number 4
					li
						a(href='javascript:void(0)' class='leagues__link')
							div King of Bahrain Cup
							div.leagues__number
					li
						a(href='javascript:void(0)' class='leagues__link')
							div All
							div.leagues__number
			li.leagues__item
				a(class='leagues__link' href='javascript:void(0)')
					div
						div(class='icn icon-africa')
						| Africa
					div.leagues__number
				ul.leagues__sublist
					li
						a(href='javascript:void(0)' class='leagues__link')
							div PremierLeague
							div.leagues__number 4
					li
						a(href='javascript:void(0)' class='leagues__link')
							div King of Bahrain Cup
							div.leagues__number
					li
						a(href='javascript:void(0)' class='leagues__link')
							div All
							div.leagues__number
			li.leagues__item
				a(class='leagues__link' href='javascript:void(0)')
					div
						div(class='icn icon-north_central-america')
						| North & Central America
					div.leagues__number
				ul.leagues__sublist
					li
						a(href='javascript:void(0)' class='leagues__link')
							div PremierLeague
							div.leagues__number 4
					li
						a(href='javascript:void(0)' class='leagues__link')
							div King of Bahrain Cup
							div.leagues__number
					li
						a(href='javascript:void(0)' class='leagues__link')
							div All
							div.leagues__number
			li.leagues__item
				a(class='leagues__link' href='javascript:void(0)')
					div
						div(class='icn icon-oceania')
						| Oceania
					div.leagues__number
				ul.leagues__sublist
					li
						a(href='javascript:void(0)' class='leagues__link')
							div PremierLeague
							div.leagues__number 4
					li
						a(href='javascript:void(0)' class='leagues__link')
							div King of Bahrain Cup
							div.leagues__number
					li
						a(href='javascript:void(0)' class='leagues__link')
							div All
							div.leagues__number
			li.leagues__item
				a(class='leagues__link' href='javascript:void(0)')
					div
						div(class='icn' style='background-image: url(img/Флаги/Англия.svg);')
						| England
					div.leagues__number 19
				ul.leagues__sublist
					li
						a(href='javascript:void(0)' class='leagues__link')
							div PremierLeague
							div.leagues__number 4
					li
						a(href='javascript:void(0)' class='leagues__link')
							div King of Bahrain Cup
							div.leagues__number
					li
						a(href='javascript:void(0)' class='leagues__link')
							div All
							div.leagues__number
			li.leagues__item
				a(class='leagues__link' href='javascript:void(0)')
					div
						div(class='icn' style='background-image: url(img/Флаги/Испания.svg);')
						| Spain
					div.leagues__number
				ul.leagues__sublist
					li
						a(href='javascript:void(0)' class='leagues__link')
							div PremierLeague
							div.leagues__number 4
					li
						a(href='javascript:void(0)' class='leagues__link')
							div King of Bahrain Cup
							div.leagues__number
					li
						a(href='javascript:void(0)' class='leagues__link')
							div All
							div.leagues__number
			li.leagues__item
				a(class='leagues__link' href='javascript:void(0)')
					div
						div(class='icn' style='background-image: url(img/Флаги/Германия.svg);')
						| Germany
					div.leagues__number
				ul.leagues__sublist
					li
						a(href='javascript:void(0)' class='leagues__link')
							div PremierLeague
							div.leagues__number 4
					li
						a(href='javascript:void(0)' class='leagues__link')
							div King of Bahrain Cup
							div.leagues__number
					li
						a(href='javascript:void(0)' class='leagues__link')
							div All
							div.leagues__number
	.leagues__wrap.leagues__all
		.leagues__title-wrap
			.leagues__title.s-title
				svg.nm-svg(width="9" height="11")
					use(xlink:href="#icon-cup")
				| All Leagues
			form.leagues__filter.filter
				div.filter__open
				input( type='text' placeholder='Search leagues')
				a.filter__close(href="javascript:void(0)")
				.nm-leagues-search-results
					.nm-leagues-search-results-wrap
						ul.nm-leagues-search-results-list
							li: a(href="javascript:void(0)") Albania
							li: a(href="javascript:void(0)") Algeria
							li: a(href="javascript:void(0)") Andorra
							li: a(href="javascript:void(0)") Argentina
							li: a(href="javascript:void(0)") Asia
		ul.leagues__list.nm-scroll-area.scrollbar-outer
			li.leagues__item
				a(class='leagues__link' href='javascript:void(0)')
					div
						div(class='icn icon-africa')
						| Africa
					div.leagues__number
				ul.leagues__sublist
					li
						a(href='javascript:void(0)' class='leagues__link')
							div PremierLeague
							div.leagues__number 4
					li
						a(href='javascript:void(0)' class='leagues__link')
							div King of Bahrain Cup
							div.leagues__number
					li
						a(href='javascript:void(0)' class='leagues__link')
							div All
							div.leagues__number
			li.leagues__item
				a(class='leagues__link' href='javascript:void(0)')
					div
						div(class='icn' style='background-image: url(img/Флаги/Албания.svg);')
						| Albania
					div.leagues__number
				ul.leagues__sublist
					li
						a(href='javascript:void(0)' class='leagues__link')
							div PremierLeague
							div.leagues__number 4
					li
						a(href='javascript:void(0)' class='leagues__link')
							div King of Bahrain Cup
							div.leagues__number
					li
						a(href='javascript:void(0)' class='leagues__link')
							div All
							div.leagues__number
			li.leagues__item
				a(class='leagues__link' href='javascript:void(0)')
					div
						div(class='icn' style='background-image: url(img/Флаги/Алгерия.png);')
						| Algeria
					div.leagues__number
				ul.leagues__sublist
					li
						a(href='javascript:void(0)' class='leagues__link')
							div PremierLeague
							div.leagues__number 4
					li
						a(href='javascript:void(0)' class='leagues__link')
							div King of Bahrain Cup
							div.leagues__number
					li
						a(href='javascript:void(0)' class='leagues__link')
							div All
							div.leagues__number
			li.leagues__item
				a(class='leagues__link' href='javascript:void(0)')
					div
						div(class='icn' style='background-image: url(img/Флаги/Андорра.svg);')
						| Andorra
					div.leagues__number
				ul.leagues__sublist
					li
						a(href='javascript:void(0)' class='leagues__link')
							div PremierLeague
							div.leagues__number 4
					li
						a(href='javascript:void(0)' class='leagues__link')
							div King of Bahrain Cup
							div.leagues__number
					li
						a(href='javascript:void(0)' class='leagues__link')
							div All
							div.leagues__number
			li.leagues__item
				a(class='leagues__link' href='javascript:void(0)')
					div
						div(class='icn' style='background-image: url(img/Флаги/Ангола.svg);')
						| Angola
					div.leagues__number
				ul.leagues__sublist
					li
						a(href='javascript:void(0)' class='leagues__link')
							div PremierLeague
							div.leagues__number 4
					li
						a(href='javascript:void(0)' class='leagues__link')
							div King of Bahrain Cup
							div.leagues__number
					li
						a(href='javascript:void(0)' class='leagues__link')
							div All
							div.leagues__number
			li.leagues__item
				a(class='leagues__link' href='javascript:void(0)')
					div
						div(class='icn' style='background-image: url(img/Флаги/Аргентина.svg);')
						| Argentina
					div.leagues__number
				ul.leagues__sublist
					li
						a(href='javascript:void(0)' class='leagues__link')
							div PremierLeague
							div.leagues__number 4
					li
						a(href='javascript:void(0)' class='leagues__link')
							div King of Bahrain Cup
							div.leagues__number
					li
						a(href='javascript:void(0)' class='leagues__link')
							div All
							div.leagues__number
			li.leagues__item
				a(class='leagues__link' href='javascript:void(0)')
					div
						div(class='icn' style='background-image: url(img/Флаги/Армения.svg);')
						| Armenia
					div.leagues__number
				ul.leagues__sublist
					li
						a(href='javascript:void(0)' class='leagues__link')
							div PremierLeague
							div.leagues__number 4
					li
						a(href='javascript:void(0)' class='leagues__link')
							div King of Bahrain Cup
							div.leagues__number
					li
						a(href='javascript:void(0)' class='leagues__link')
							div All
							div.leagues__number
			li.leagues__item
				a(class='leagues__link' href='javascript:void(0)')
					div
						div(class='icn icon-asia')
						| Asia
					div.leagues__number
				ul.leagues__sublist
					li
						a(href='javascript:void(0)' class='leagues__link')
							div PremierLeague
							div.leagues__number 4
					li
						a(href='javascript:void(0)' class='leagues__link')
							div King of Bahrain Cup
							div.leagues__number
					li
						a(href='javascript:void(0)' class='leagues__link')
							div All
							div.leagues__number
			li.leagues__item
				a(class='leagues__link' href='javascript:void(0)')
					div
						div(class='icn' style='background-image: url(img/Флаги/Австралия.svg);')
						| Australia
					div.leagues__number
				ul.leagues__sublist
					li
						a(href='javascript:void(0)' class='leagues__link')
							div PremierLeague
							div.leagues__number 4
					li
						a(href='javascript:void(0)' class='leagues__link')
							div King of Bahrain Cup
							div.leagues__number
					li
						a(href='javascript:void(0)' class='leagues__link')
							div All
							div.leagues__number
			li.leagues__item
				a(class='leagues__link' href='javascript:void(0)')
					div
						div(class='icn' style='background-image: url(img/Флаги/Австрия.svg);')
						| Austria
					div.leagues__number
				ul.leagues__sublist
					li
						a(href='javascript:void(0)' class='leagues__link')
							div PremierLeague
							div.leagues__number 4
					li
						a(href='javascript:void(0)' class='leagues__link')
							div King of Bahrain Cup
							div.leagues__number
					li
						a(href='javascript:void(0)' class='leagues__link')
							div All
							div.leagues__number
			li.leagues__item
				a(class='leagues__link' href='javascript:void(0)')
					div
						div(class='icn' style='background-image: url(img/Флаги/Бахрейн.svg);')
						| Bahrain
					div.leagues__number
				ul.leagues__sublist
					li
						a(href='javascript:void(0)' class='leagues__link')
							div PremierLeague
							div.leagues__number 4
					li
						a(href='javascript:void(0)' class='leagues__link')
							div King of Bahrain Cup
							div.leagues__number
					li
						a(href='javascript:void(0)' class='leagues__link')
							div All
							div.leagues__number
					li
						a(href='javascript:void(0)' class='leagues__link')
							div PremierLeague
							div.leagues__number 4
					li
						a(href='javascript:void(0)' class='leagues__link')
							div King of Bahrain Cup
							div.leagues__number
					li
						a(href='javascript:void(0)' class='leagues__link')
							div All
							div.leagues__number
					li
						a(href='javascript:void(0)' class='leagues__link')
							div PremierLeague
							div.leagues__number 4
					li
						a(href='javascript:void(0)' class='leagues__link')
							div King of Bahrain Cup
							div.leagues__number
					li
						a(href='javascript:void(0)' class='leagues__link')
							div All
							div.leagues__number
			li.leagues__item
				a(class='leagues__link' href='javascript:void(0)')
					div
						div(class='icn' style='background-image: url(img/Флаги/Бахрейн.svg);')
						| Bahrain
					div.leagues__number
				ul.leagues__sublist
					li
						a(href='javascript:void(0)' class='leagues__link')
							div PremierLeague
							div.leagues__number 4
					li
						a(href='javascript:void(0)' class='leagues__link')
							div King of Bahrain Cup
							div.leagues__number
					li
						a(href='javascript:void(0)' class='leagues__link')
							div All
							div.leagues__number
					li
						a(href='javascript:void(0)' class='leagues__link')
							div PremierLeague
							div.leagues__number 4
					li
						a(href='javascript:void(0)' class='leagues__link')
							div King of Bahrain Cup
							div.leagues__number
					li
						a(href='javascript:void(0)' class='leagues__link')
							div All
							div.leagues__number
					li
						a(href='javascript:void(0)' class='leagues__link')
							div PremierLeague
							div.leagues__number 4
					li
						a(href='javascript:void(0)' class='leagues__link')
							div King of Bahrain Cup
							div.leagues__number
					li
						a(href='javascript:void(0)' class='leagues__link')
							div All
							div.leagues__number
			li.leagues__item
				a(class='leagues__link' href='javascript:void(0)')
					div
						div(class='icn icon-world-icon')
						| World
					div.leagues__number 11
				ul.leagues__sublist
					li
						a(href='javascript:void(0)' class='leagues__link')
							div PremierLeague
							div.leagues__number 4
					li
						a(href='javascript:void(0)' class='leagues__link')
							div King of Bahrain Cup
							div.leagues__number
					li
						a(href='javascript:void(0)' class='leagues__link')
							div All
							div.leagues__number
			li.leagues__item
				a(class='leagues__link' href='javascript:void(0)')
					div
						div(class='icn' style='background-image: url(img/Флаги/Замбия.svg);')
						| Zambia
					div.leagues__number
				ul.leagues__sublist
					li
						a(href='javascript:void(0)' class='leagues__link')
							div PremierLeague
							div.leagues__number 4
					li
						a(href='javascript:void(0)' class='leagues__link')
							div King of Bahrain Cup
							div.leagues__number
					li
						a(href='javascript:void(0)' class='leagues__link')
							div All
							div.leagues__number
			li.leagues__item
				a(class='leagues__link' href='javascript:void(0)')
					div
						div(class='icn icon-africa')
						| Africa
					div.leagues__number
				ul.leagues__sublist
					li
						a(href='javascript:void(0)' class='leagues__link')
							div PremierLeague
							div.leagues__number 4
					li
						a(href='javascript:void(0)' class='leagues__link')
							div King of Bahrain Cup
							div.leagues__number
					li
						a(href='javascript:void(0)' class='leagues__link')
							div All
							div.leagues__number
			li.leagues__item
				a(class='leagues__link' href='javascript:void(0)')
					div
						div(class='icn' style='background-image: url(img/Флаги/Албания.svg);')
						| Albania
					div.leagues__number
				ul.leagues__sublist
					li
						a(href='javascript:void(0)' class='leagues__link')
							div PremierLeague
							div.leagues__number 4
					li
						a(href='javascript:void(0)' class='leagues__link')
							div King of Bahrain Cup
							div.leagues__number
					li
						a(href='javascript:void(0)' class='leagues__link')
							div All
							div.leagues__number
			li.leagues__item
				a(class='leagues__link' href='javascript:void(0)')
					div
						div(class='icn' style='background-image: url(img/Флаги/Алгерия.svg);')
						| Algeria
					div.leagues__number
				ul.leagues__sublist
					li
						a(href='javascript:void(0)' class='leagues__link')
							div PremierLeague
							div.leagues__number 4
					li
						a(href='javascript:void(0)' class='leagues__link')
							div King of Bahrain Cup
							div.leagues__number
					li
						a(href='javascript:void(0)' class='leagues__link')
							div All
							div.leagues__number
			li.leagues__item
				a(class='leagues__link' href='javascript:void(0)')
					div
						div(class='icn' style='background-image: url(img/Флаги/Андорра.svg);')
						| Andorra
					div.leagues__number
				ul.leagues__sublist
					li
						a(href='javascript:void(0)' class='leagues__link')
							div PremierLeague
							div.leagues__number 4
					li
						a(href='javascript:void(0)' class='leagues__link')
							div King of Bahrain Cup
							div.leagues__number
					li
						a(href='javascript:void(0)' class='leagues__link')
							div All
							div.leagues__number
			li.leagues__item
				a(class='leagues__link' href='javascript:void(0)')
					div
						div(class='icn' style='background-image: url(img/Флаги/Ангола.svg);')
						| Angola
					div.leagues__number
				ul.leagues__sublist
					li
						a(href='javascript:void(0)' class='leagues__link')
							div PremierLeague
							div.leagues__number 4
					li
						a(href='javascript:void(0)' class='leagues__link')
							div King of Bahrain Cup
							div.leagues__number
					li
						a(href='javascript:void(0)' class='leagues__link')
							div All
							div.leagues__number
			li.leagues__item
				a(class='leagues__link' href='javascript:void(0)')
					div
						div(class='icn' style='background-image: url(img/Флаги/Аргентина.svg);')
						| Argentina
					div.leagues__number
				ul.leagues__sublist
					li
						a(href='javascript:void(0)' class='leagues__link')
							div PremierLeague
							div.leagues__number 4
					li
						a(href='javascript:void(0)' class='leagues__link')
							div King of Bahrain Cup
							div.leagues__number
					li
						a(href='javascript:void(0)' class='leagues__link')
							div All
							div.leagues__number
			li.leagues__item
				a(class='leagues__link' href='javascript:void(0)')
					div
						div(class='icn' style='background-image: url(img/Флаги/Армения.svg);')
						| Armenia
					div.leagues__number
				ul.leagues__sublist
					li
						a(href='javascript:void(0)' class='leagues__link')
							div PremierLeague
							div.leagues__number 4
					li
						a(href='javascript:void(0)' class='leagues__link')
							div King of Bahrain Cup
							div.leagues__number
					li
						a(href='javascript:void(0)' class='leagues__link')
							div All
							div.leagues__number
			li.leagues__item
				a(class='leagues__link' href='javascript:void(0)')
					div
						div(class='icn icon-asia')
						| Asia
					div.leagues__number
				ul.leagues__sublist
					li
						a(href='javascript:void(0)' class='leagues__link')
							div PremierLeague
							div.leagues__number 4
					li
						a(href='javascript:void(0)' class='leagues__link')
							div King of Bahrain Cup
							div.leagues__number
					li
						a(href='javascript:void(0)' class='leagues__link')
							div All
							div.leagues__number
			li.leagues__item
				a(class='leagues__link' href='javascript:void(0)')
					div
						div(class='icn' style='background-image: url(img/Флаги/Австралия.svg);')
						| Australia
					div.leagues__number
				ul.leagues__sublist
					li
						a(href='javascript:void(0)' class='leagues__link')
							div PremierLeague
							div.leagues__number 4
					li
						a(href='javascript:void(0)' class='leagues__link')
							div King of Bahrain Cup
							div.leagues__number
					li
						a(href='javascript:void(0)' class='leagues__link')
							div All
							div.leagues__number
			li.leagues__item
				a(class='leagues__link' href='javascript:void(0)')
					div
						div(class='icn' style='background-image: url(img/Флаги/Австрия.svg);')
						| Austria
					div.leagues__number
				ul.leagues__sublist
					li
						a(href='javascript:void(0)' class='leagues__link')
							div PremierLeague
							div.leagues__number 4
					li
						a(href='javascript:void(0)' class='leagues__link')
							div King of Bahrain Cup
							div.leagues__number
					li
						a(href='javascript:void(0)' class='leagues__link')
							div All
							div.leagues__number
			li.leagues__item
				a(class='leagues__link' href='javascript:void(0)')
					div
						div(class='icn' style='background-image: url(img/Флаги/Бахрейн.svg);')
						| Bahrain
					div.leagues__number
				ul.leagues__sublist
					li
						a(href='javascript:void(0)' class='leagues__link')
							div PremierLeague
							div.leagues__number 4
					li
						a(href='javascript:void(0)' class='leagues__link')
							div King of Bahrain Cup
							div.leagues__number
					li
						a(href='javascript:void(0)' class='leagues__link')
							div All
							div.leagues__number
					li
						a(href='javascript:void(0)' class='leagues__link')
							div PremierLeague
							div.leagues__number 4
					li
						a(href='javascript:void(0)' class='leagues__link')
							div King of Bahrain Cup
							div.leagues__number
					li
						a(href='javascript:void(0)' class='leagues__link')
							div All
							div.leagues__number
					li
						a(href='javascript:void(0)' class='leagues__link')
							div PremierLeague
							div.leagues__number 4
					li
						a(href='javascript:void(0)' class='leagues__link')
							div King of Bahrain Cup
							div.leagues__number
					li
						a(href='javascript:void(0)' class='leagues__link')
							div All
							div.leagues__number
			li.leagues__item
				a(class='leagues__link' href='javascript:void(0)')
					div
						div(class='icn' style='background-image: url(img/Флаги/Бахрейн.svg);')
						| Bahrain
					div.leagues__number
				ul.leagues__sublist
					li
						a(href='javascript:void(0)' class='leagues__link')
							div PremierLeague
							div.leagues__number 4
					li
						a(href='javascript:void(0)' class='leagues__link')
							div King of Bahrain Cup
							div.leagues__number
					li
						a(href='javascript:void(0)' class='leagues__link')
							div All
							div.leagues__number
					li
						a(href='javascript:void(0)' class='leagues__link')
							div PremierLeague
							div.leagues__number 4
					li
						a(href='javascript:void(0)' class='leagues__link')
							div King of Bahrain Cup
							div.leagues__number
					li
						a(href='javascript:void(0)' class='leagues__link')
							div All
							div.leagues__number
					li
						a(href='javascript:void(0)' class='leagues__link')
							div PremierLeague
							div.leagues__number 4
					li
						a(href='javascript:void(0)' class='leagues__link')
							div King of Bahrain Cup
							div.leagues__number
					li
						a(href='javascript:void(0)' class='leagues__link')
							div All
							div.leagues__number
			li.leagues__item
				a(class='leagues__link' href='javascript:void(0)')
					div
						div(class='icn icon-world-icon')
						| World
					div.leagues__number 11
				ul.leagues__sublist
					li
						a(href='javascript:void(0)' class='leagues__link')
							div PremierLeague
							div.leagues__number 4
					li
						a(href='javascript:void(0)' class='leagues__link')
							div King of Bahrain Cup
							div.leagues__number
					li
						a(href='javascript:void(0)' class='leagues__link')
							div All
							div.leagues__number
			li.leagues__item
				a(class='leagues__link' href='javascript:void(0)')
					div
						div(class='icn' style='background-image: url(img/Флаги/Замбия.svg);')
						| Zambia
					div.leagues__number
				ul.leagues__sublist
					li
						a(href='javascript:void(0)' class='leagues__link')
							div PremierLeague
							div.leagues__number 4
					li
						a(href='javascript:void(0)' class='leagues__link')
							div King of Bahrain Cup
							div.leagues__number
					li
						a(href='javascript:void(0)' class='leagues__link')
							div All
							div.leagues__number
	a.nm-modal-close(href="javascript:void(0)" data-remodal-action="close" aria-label="Close") Close
//leagues END