//MAIN BEGIN
main
	.pr-top-block 
		.inner 
			.title SofaScore Media Kit
			.autor 
				img(src="img/ma/avatar126.png" alt="404 image")
				span by 
					a(href="javascript:void(0)") By Adeline Blesser
			.data April 3rd, 2014 07:15
	.pr-bottom-block 
		.inner
			.title Get now
			p You can find all the various resources and materials here. Click Download to get logos, screenshots of Android, iOS or Windows Phone, & some extras of SofaScore.
			p If you need anything else, feel free to contact us by e-mail with details and we’ll get back to you as soon as possible.
			a.btn DOWNLOAD NOW
			ul
				li 
					a(href="javascript:void(0)") App Tipp: SofaScore LiveScore für Windows Phone & Windows 8
				li 
					a(href="javascript:void(0)") Get Live Sports Scores with SofaScore LiveScore on Intel® Atom™ Tablets for Windows* 8.1
				li 
					a(href="javascript:void(0)") Follow all Real Madrid and Ronaldo matches with SofaScore app	
				
		.nm-share-block
			a.nm-share-toggle(href="javascript:void(0)")
				svg.nm-svg(width="14" height="15" color="#fff")
					use(xlink:href="#icon-share")

			a.nm-share-btn.nm-share-fb(href="javascript:void(0)")
				svg.nm-svg(width="6" height="10")
					use(xlink:href="#icon-share-facebook")

			a.nm-share-btn.nm-share-twitter(href="javascript:void(0)")
				svg.nm-svg(width="10" height="8")
					use(xlink:href="#icon-share-twitter")

			a.nm-share-btn.nm-share-google(href="javascript:void(0)")
				svg.nm-svg(width="12" height="8")
					use(xlink:href="#icon-share-google")

			a.nm-share-btn.nm-share-youtube(href="javascript:void(0)")
				svg.nm-svg(width="14" height="10")
					use(xlink:href="#icon-share-youtube")

			a.nm-share-btn.nm-share-inst(href="javascript:void(0)")
				svg.nm-svg(width="11" height="11")
					use(xlink:href="#icon-share-inst")
	
//MAIN END