//MAIN BEGIN
main
	.pr-main-wrap
		.pr-no-match
			.pr-no-match-left
				img(src="img/icons/no_match.png" alt="no match found")
			.pr-no-match-right
				p.no-match-text Oops, looks like there’s nothing to see here. Please try to refresh page, or to contact administration.
				.pr-no-match-right-btns
					a(href="javascript:void(0)").pr-refr-btn.pr-btn REFRESH
					a(href="javascript:void(0)").pr-feed-btn.pr-btn SEND FEEDBACK
//MAIN END