//PLAYER CONTENT BEGIN
main
    .sr-main-wrapper
        .sr-player-empty
            .sr-player-empty-left
                img(src="img/locker@2x.png" alt="Empty search result image")
            .sr-player-empty-right
                p.sr-search-empty-text
                    | There’s no data provided about this player. <br>
                    | Please, return to main page.
                .sr-search-empty-btn
                    a(href="javascript:void(0)").pr-livescore-btn FOOTBALL LIVESCORE
//PLAYER CONTEND END