//MAIN BEGIN
main
	.top-block 
		.inner 
			.half 
				a.main-site(href="javascript:void(0)") OF SOFASCORE.com
				.title RESOURCES, PARTNERSHIP AND LICENSE INFO
				p This Application using some media and applications from other sources.
			.half 
				span Data Controller and Owner
				strong 
					a.site(href="javascript:void(0)") SofaScore.com,
					a.mail(href="javascript:void(0)") info@sofascore.com

	.bottom-block 
		.inner
			.title References
			p Freesfx.co.uk -
				a(href="javascript:void(0)") http://www.freesfx.co.uk/info/eula/
			p Name of patent owner/license holder -
				a(href="javascript:void(0)") link to source/author
			p Name of patent owner/license holder -
				a(href="javascript:void(0)") link to source/author
			p Name of patent owner/license holder -
				a(href="javascript:void(0)") link to source/author
			p Name of patent owner/license holder -
				a(href="javascript:void(0)") link to source/author

				
		.nm-share-block
			a.nm-share-toggle(href="javascript:void(0)")
				svg.nm-svg(width="14" height="15" color="#fff")
					use(xlink:href="#icon-share")

			a.nm-share-btn.nm-share-fb(href="javascript:void(0)")
				svg.nm-svg(width="6" height="10")
					use(xlink:href="#icon-share-facebook")

			a.nm-share-btn.nm-share-twitter(href="javascript:void(0)")
				svg.nm-svg(width="10" height="8")
					use(xlink:href="#icon-share-twitter")

			a.nm-share-btn.nm-share-google(href="javascript:void(0)")
				svg.nm-svg(width="12" height="8")
					use(xlink:href="#icon-share-google")

			a.nm-share-btn.nm-share-youtube(href="javascript:void(0)")
				svg.nm-svg(width="14" height="10")
					use(xlink:href="#icon-share-youtube")

			a.nm-share-btn.nm-share-inst(href="javascript:void(0)")
				svg.nm-svg(width="11" height="11")
					use(xlink:href="#icon-share-inst")
	
//MAIN END