//script(src="js/jquery-3.2.1.min.js")
script(src='https://code.jquery.com/jquery-2.2.4.min.js' )
script(src="js/jquery-ui-1.12.1.min.js")
script(src="js/remodal.js")
script(src="js/radar-chart.js")
script(src="https://d3js.org/d3.v3.js")
script(src="https://platform.twitter.com/widgets.js")
script(async defer src="//www.instagram.com/embed.js")
script(src="js/jquery.sumoselect.min.js")
script(src="js/jquery.scrollbar.min.js")
script(src="js/jquery-scrollable.js")
script(src="js/debiki-utterscroll.js")
script(src="js/slick.min.js")
script(src="js/autosize.min.js")
script(src="js/nm-js.js")
script(src="js/pr-js.js")
script(src="js/ma-js.js")
script(src="js/golub-js.js")
