//SEARCH CONTENT BEGIN
main
    .sr-main-wrapper
        .sr-search-empty
            .sr-search-empty-left
                img(src="img/no-tournaments-art.png" alt="Empty search result image")
            .sr-search-empty-right
                p.sr-search-empty-text
                    | We couldn’t find any matches. <br>
                    | Please, try some different keywords.
                .sr-search-empty-btn
                    a(href="javascript:void(0)").pr-livescore-btn FOOTBALL LIVESCORE
//SEARCH CONTEND END