//TOPBAR BEGIN
.nm-big-wrapper
	.topbar.topbar__block.nm-block
		.nm-wrapper.wrapper
			.topbar__left
				a(href='javascript:void(0)').event__link.cell
					.cell__section
						.cell__content
							img(src="img/ma/football_3398.png" alt='logo')
							div APOEL Niscosia
					.cell__section.match-time-wrap
						.cell__content.match-time
							div Today
							div 7:00 PM
					.cell__section
						.cell__content
							img(src="img/ma/football_2900.png" alt='logo')
							div RSC Anderlecht
			.topbar__right
				.cell
					.cell__section.match-day
						.cell__content
							a(href='javascript:void(0)')
								img(src="img/ma/logo.png" alt='logo')
								div Premier League
									span Match day 7
					.cell__section
						.cell__content
							a(href='#' class='ma_button ma_button-sm') More
							a(href='#' class='ma_button ma_button-sm favorite')
								i(class='icon-icon-favorite')
//TOPBAR END