.userpage-favorite-container.nm-toogle-div
    a.userpage-favorite-btn.pr-favorite-btn.nm-toggler(href='javascript:void(0)' class=val.isFavorite ? 'pr-favorite-btn-active' : '')
        i(class='icon-icon-favorite')
    .userpage-favorite-dropdown.pr-dropdown-favorite.nm-dropdown
        ul.userpage-favorite-dropdown-list
            li.item
                a.userpage-favorite-dropdown-btn(href="javascript:void(0)").pr-remove
                    | Remove
            li.item
                a.userpage-favorite-dropdown-btn(href="javascript:void(0)").pr-mute
                    | Mute this event